@charset "IBM866";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,600&subset=latin,cyrillic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 20, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 30, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 36, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/pts55f_w.eot");
  src: local("PT Sans"), url("../fonts/PTS55F_W.woff") format("woff"), url("../fonts/PTS55F_W.ttf") format("truetype"), url("../fonts/PTS55F_W.svg#PTSans-Regular") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url("pts56f_w.eot");
  src: local("PT Sans Italic"), url("../fonts/PTS56F_W.woff") format("woff"), url("../fonts/PTS56F_W.ttf") format("truetype"), url("../fonts/PTS56F_W.svg#PTSans-Italic") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  src: url("pts75f_w.eot");
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"), url("../fonts/PTS75F_W.woff") format("woff"), url("../fonts/PTS75F_W.ttf") format("truetype"), url("../fonts/PTS75F_W.svg#PTSans-Bold") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url("pts76f_w.eot");
  src: local("../fonts/PT Sans Bold Italic"), url("../fonts/PTS76F_W.woff") format("woff"), url("../fonts/PTS76F_W.ttf") format("truetype"), url("../fonts/PTS76F_W.svg#PTSans-BoldItalic") format("svg");
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url("ptc55f_w.eot");
  src: local("PT Sans Caption"), url("../fonts/PTC55F_W.woff") format("woff"), url("../fonts/PTC55F_W.ttf") format("truetype"), url("../fonts/PTC55F_W.svg#PTSans-Caption") format("svg");
}

@font-face {
  font-family: 'PT Sans Caption';
  font-weight: bold;
  src: url("ptc75f_w.eot");
  src: local("PT Sans Caption Bold"), url("../fonts/PTC75F_W.woff") format("woff"), url("../fonts/TC75F_W.ttf") format("truetype"), url("../fonts/PTC75F_W.svg#PTSans-CaptionBold") format("svg");
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url("ptn57f_w.eot");
  src: local("PT Sans Narrow"), url("../fonts/PTN57F_W.woff") format("woff"), url("../fonts/PTN57F_W.ttf") format("truetype"), url("../fonts/PTN57F_W.svg#PTSans-Narrow") format("svg");
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  src: url("ptn77f_w.eot");
  src: local("PT Sans Narrow Bold"), url("../fonts/PTN77F_W.woff") format("woff"), url("../fonts/PTN77F_W.ttf") format("truetype"), url("../fonts/PTN77F_W.svg#PTSans-NarrowBold") format("svg");
}

/* line 56, ../sass/_mixins.scss */
.cell-line {
  display: table;
}
/* line 59, ../sass/_mixins.scss */
.cell-line > * {
  display: table-cell;
  float: none !important;
  vertical-align: middle;
}

/* line 8, ../sass/_base.scss */
.page {
  *zoom: 1;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1206px;
  min-width: 880px;
}
/* line 38, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 13, ../sass/_base.scss */
.page.with-grid-bg {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(4.54545%, rgba(100, 100, 225, 0.25)), color-stop(4.54545%, rgba(0, 0, 0, 0)), color-stop(6.81818%, rgba(0, 0, 0, 0)), color-stop(6.81818%, rgba(100, 100, 225, 0.25)), color-stop(11.36364%, rgba(100, 100, 225, 0.25)), color-stop(11.36364%, rgba(0, 0, 0, 0)), color-stop(13.63636%, rgba(0, 0, 0, 0)), color-stop(13.63636%, rgba(100, 100, 225, 0.25)), color-stop(18.18182%, rgba(100, 100, 225, 0.25)), color-stop(18.18182%, rgba(0, 0, 0, 0)), color-stop(20.45455%, rgba(0, 0, 0, 0)), color-stop(20.45455%, rgba(100, 100, 225, 0.25)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(27.27273%, rgba(0, 0, 0, 0)), color-stop(27.27273%, rgba(100, 100, 225, 0.25)), color-stop(31.81818%, rgba(100, 100, 225, 0.25)), color-stop(31.81818%, rgba(0, 0, 0, 0)), color-stop(34.09091%, rgba(0, 0, 0, 0)), color-stop(34.09091%, rgba(100, 100, 225, 0.25)), color-stop(38.63636%, rgba(100, 100, 225, 0.25)), color-stop(38.63636%, rgba(0, 0, 0, 0)), color-stop(40.90909%, rgba(0, 0, 0, 0)), color-stop(40.90909%, rgba(100, 100, 225, 0.25)), color-stop(45.45455%, rgba(100, 100, 225, 0.25)), color-stop(45.45455%, rgba(0, 0, 0, 0)), color-stop(47.72727%, rgba(0, 0, 0, 0)), color-stop(47.72727%, rgba(100, 100, 225, 0.25)), color-stop(52.27273%, rgba(100, 100, 225, 0.25)), color-stop(52.27273%, rgba(0, 0, 0, 0)), color-stop(54.54545%, rgba(0, 0, 0, 0)), color-stop(54.54545%, rgba(100, 100, 225, 0.25)), color-stop(59.09091%, rgba(100, 100, 225, 0.25)), color-stop(59.09091%, rgba(0, 0, 0, 0)), color-stop(61.36364%, rgba(0, 0, 0, 0)), color-stop(61.36364%, rgba(100, 100, 225, 0.25)), color-stop(65.90909%, rgba(100, 100, 225, 0.25)), color-stop(65.90909%, rgba(0, 0, 0, 0)), color-stop(68.18182%, rgba(0, 0, 0, 0)), color-stop(68.18182%, rgba(100, 100, 225, 0.25)), color-stop(72.72727%, rgba(100, 100, 225, 0.25)), color-stop(72.72727%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(79.54545%, rgba(100, 100, 225, 0.25)), color-stop(79.54545%, rgba(0, 0, 0, 0)), color-stop(81.81818%, rgba(0, 0, 0, 0)), color-stop(81.81818%, rgba(100, 100, 225, 0.25)), color-stop(86.36364%, rgba(100, 100, 225, 0.25)), color-stop(86.36364%, rgba(0, 0, 0, 0)), color-stop(88.63636%, rgba(0, 0, 0, 0)), color-stop(88.63636%, rgba(100, 100, 225, 0.25)), color-stop(93.18182%, rgba(100, 100, 225, 0.25)), color-stop(93.18182%, rgba(0, 0, 0, 0)), color-stop(95.45455%, rgba(0, 0, 0, 0)), color-stop(95.45455%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 4.54545%, rgba(0, 0, 0, 0) 4.54545%, rgba(0, 0, 0, 0) 6.81818%, rgba(100, 100, 225, 0.25) 6.81818%, rgba(100, 100, 225, 0.25) 11.36364%, rgba(0, 0, 0, 0) 11.36364%, rgba(0, 0, 0, 0) 13.63636%, rgba(100, 100, 225, 0.25) 13.63636%, rgba(100, 100, 225, 0.25) 18.18182%, rgba(0, 0, 0, 0) 18.18182%, rgba(0, 0, 0, 0) 20.45455%, rgba(100, 100, 225, 0.25) 20.45455%, rgba(100, 100, 225, 0.25) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 27.27273%, rgba(100, 100, 225, 0.25) 27.27273%, rgba(100, 100, 225, 0.25) 31.81818%, rgba(0, 0, 0, 0) 31.81818%, rgba(0, 0, 0, 0) 34.09091%, rgba(100, 100, 225, 0.25) 34.09091%, rgba(100, 100, 225, 0.25) 38.63636%, rgba(0, 0, 0, 0) 38.63636%, rgba(0, 0, 0, 0) 40.90909%, rgba(100, 100, 225, 0.25) 40.90909%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(0, 0, 0, 0) 45.45455%, rgba(0, 0, 0, 0) 47.72727%, rgba(100, 100, 225, 0.25) 47.72727%, rgba(100, 100, 225, 0.25) 52.27273%, rgba(0, 0, 0, 0) 52.27273%, rgba(0, 0, 0, 0) 54.54545%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(100, 100, 225, 0.25) 59.09091%, rgba(0, 0, 0, 0) 59.09091%, rgba(0, 0, 0, 0) 61.36364%, rgba(100, 100, 225, 0.25) 61.36364%, rgba(100, 100, 225, 0.25) 65.90909%, rgba(0, 0, 0, 0) 65.90909%, rgba(0, 0, 0, 0) 68.18182%, rgba(100, 100, 225, 0.25) 68.18182%, rgba(100, 100, 225, 0.25) 72.72727%, rgba(0, 0, 0, 0) 72.72727%, rgba(0, 0, 0, 0) 75%, rgba(100, 100, 225, 0.25) 75%, rgba(100, 100, 225, 0.25) 79.54545%, rgba(0, 0, 0, 0) 79.54545%, rgba(0, 0, 0, 0) 81.81818%, rgba(100, 100, 225, 0.25) 81.81818%, rgba(100, 100, 225, 0.25) 86.36364%, rgba(0, 0, 0, 0) 86.36364%, rgba(0, 0, 0, 0) 88.63636%, rgba(100, 100, 225, 0.25) 88.63636%, rgba(100, 100, 225, 0.25) 93.18182%, rgba(0, 0, 0, 0) 93.18182%, rgba(0, 0, 0, 0) 95.45455%, rgba(100, 100, 225, 0.25) 95.45455%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 4.54545%, rgba(0, 0, 0, 0) 4.54545%, rgba(0, 0, 0, 0) 6.81818%, rgba(100, 100, 225, 0.25) 6.81818%, rgba(100, 100, 225, 0.25) 11.36364%, rgba(0, 0, 0, 0) 11.36364%, rgba(0, 0, 0, 0) 13.63636%, rgba(100, 100, 225, 0.25) 13.63636%, rgba(100, 100, 225, 0.25) 18.18182%, rgba(0, 0, 0, 0) 18.18182%, rgba(0, 0, 0, 0) 20.45455%, rgba(100, 100, 225, 0.25) 20.45455%, rgba(100, 100, 225, 0.25) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 27.27273%, rgba(100, 100, 225, 0.25) 27.27273%, rgba(100, 100, 225, 0.25) 31.81818%, rgba(0, 0, 0, 0) 31.81818%, rgba(0, 0, 0, 0) 34.09091%, rgba(100, 100, 225, 0.25) 34.09091%, rgba(100, 100, 225, 0.25) 38.63636%, rgba(0, 0, 0, 0) 38.63636%, rgba(0, 0, 0, 0) 40.90909%, rgba(100, 100, 225, 0.25) 40.90909%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(0, 0, 0, 0) 45.45455%, rgba(0, 0, 0, 0) 47.72727%, rgba(100, 100, 225, 0.25) 47.72727%, rgba(100, 100, 225, 0.25) 52.27273%, rgba(0, 0, 0, 0) 52.27273%, rgba(0, 0, 0, 0) 54.54545%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(100, 100, 225, 0.25) 59.09091%, rgba(0, 0, 0, 0) 59.09091%, rgba(0, 0, 0, 0) 61.36364%, rgba(100, 100, 225, 0.25) 61.36364%, rgba(100, 100, 225, 0.25) 65.90909%, rgba(0, 0, 0, 0) 65.90909%, rgba(0, 0, 0, 0) 68.18182%, rgba(100, 100, 225, 0.25) 68.18182%, rgba(100, 100, 225, 0.25) 72.72727%, rgba(0, 0, 0, 0) 72.72727%, rgba(0, 0, 0, 0) 75%, rgba(100, 100, 225, 0.25) 75%, rgba(100, 100, 225, 0.25) 79.54545%, rgba(0, 0, 0, 0) 79.54545%, rgba(0, 0, 0, 0) 81.81818%, rgba(100, 100, 225, 0.25) 81.81818%, rgba(100, 100, 225, 0.25) 86.36364%, rgba(0, 0, 0, 0) 86.36364%, rgba(0, 0, 0, 0) 88.63636%, rgba(100, 100, 225, 0.25) 88.63636%, rgba(100, 100, 225, 0.25) 93.18182%, rgba(0, 0, 0, 0) 93.18182%, rgba(0, 0, 0, 0) 95.45455%, rgba(100, 100, 225, 0.25) 95.45455%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 4.54545%, rgba(0, 0, 0, 0) 4.54545%, rgba(0, 0, 0, 0) 6.81818%, rgba(100, 100, 225, 0.25) 6.81818%, rgba(100, 100, 225, 0.25) 11.36364%, rgba(0, 0, 0, 0) 11.36364%, rgba(0, 0, 0, 0) 13.63636%, rgba(100, 100, 225, 0.25) 13.63636%, rgba(100, 100, 225, 0.25) 18.18182%, rgba(0, 0, 0, 0) 18.18182%, rgba(0, 0, 0, 0) 20.45455%, rgba(100, 100, 225, 0.25) 20.45455%, rgba(100, 100, 225, 0.25) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 27.27273%, rgba(100, 100, 225, 0.25) 27.27273%, rgba(100, 100, 225, 0.25) 31.81818%, rgba(0, 0, 0, 0) 31.81818%, rgba(0, 0, 0, 0) 34.09091%, rgba(100, 100, 225, 0.25) 34.09091%, rgba(100, 100, 225, 0.25) 38.63636%, rgba(0, 0, 0, 0) 38.63636%, rgba(0, 0, 0, 0) 40.90909%, rgba(100, 100, 225, 0.25) 40.90909%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(0, 0, 0, 0) 45.45455%, rgba(0, 0, 0, 0) 47.72727%, rgba(100, 100, 225, 0.25) 47.72727%, rgba(100, 100, 225, 0.25) 52.27273%, rgba(0, 0, 0, 0) 52.27273%, rgba(0, 0, 0, 0) 54.54545%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(100, 100, 225, 0.25) 59.09091%, rgba(0, 0, 0, 0) 59.09091%, rgba(0, 0, 0, 0) 61.36364%, rgba(100, 100, 225, 0.25) 61.36364%, rgba(100, 100, 225, 0.25) 65.90909%, rgba(0, 0, 0, 0) 65.90909%, rgba(0, 0, 0, 0) 68.18182%, rgba(100, 100, 225, 0.25) 68.18182%, rgba(100, 100, 225, 0.25) 72.72727%, rgba(0, 0, 0, 0) 72.72727%, rgba(0, 0, 0, 0) 75%, rgba(100, 100, 225, 0.25) 75%, rgba(100, 100, 225, 0.25) 79.54545%, rgba(0, 0, 0, 0) 79.54545%, rgba(0, 0, 0, 0) 81.81818%, rgba(100, 100, 225, 0.25) 81.81818%, rgba(100, 100, 225, 0.25) 86.36364%, rgba(0, 0, 0, 0) 86.36364%, rgba(0, 0, 0, 0) 88.63636%, rgba(100, 100, 225, 0.25) 88.63636%, rgba(100, 100, 225, 0.25) 93.18182%, rgba(0, 0, 0, 0) 93.18182%, rgba(0, 0, 0, 0) 95.45455%, rgba(100, 100, 225, 0.25) 95.45455%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 4.54545%, rgba(0, 0, 0, 0) 4.54545%, rgba(0, 0, 0, 0) 6.81818%, rgba(100, 100, 225, 0.25) 6.81818%, rgba(100, 100, 225, 0.25) 11.36364%, rgba(0, 0, 0, 0) 11.36364%, rgba(0, 0, 0, 0) 13.63636%, rgba(100, 100, 225, 0.25) 13.63636%, rgba(100, 100, 225, 0.25) 18.18182%, rgba(0, 0, 0, 0) 18.18182%, rgba(0, 0, 0, 0) 20.45455%, rgba(100, 100, 225, 0.25) 20.45455%, rgba(100, 100, 225, 0.25) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 27.27273%, rgba(100, 100, 225, 0.25) 27.27273%, rgba(100, 100, 225, 0.25) 31.81818%, rgba(0, 0, 0, 0) 31.81818%, rgba(0, 0, 0, 0) 34.09091%, rgba(100, 100, 225, 0.25) 34.09091%, rgba(100, 100, 225, 0.25) 38.63636%, rgba(0, 0, 0, 0) 38.63636%, rgba(0, 0, 0, 0) 40.90909%, rgba(100, 100, 225, 0.25) 40.90909%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(0, 0, 0, 0) 45.45455%, rgba(0, 0, 0, 0) 47.72727%, rgba(100, 100, 225, 0.25) 47.72727%, rgba(100, 100, 225, 0.25) 52.27273%, rgba(0, 0, 0, 0) 52.27273%, rgba(0, 0, 0, 0) 54.54545%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(100, 100, 225, 0.25) 59.09091%, rgba(0, 0, 0, 0) 59.09091%, rgba(0, 0, 0, 0) 61.36364%, rgba(100, 100, 225, 0.25) 61.36364%, rgba(100, 100, 225, 0.25) 65.90909%, rgba(0, 0, 0, 0) 65.90909%, rgba(0, 0, 0, 0) 68.18182%, rgba(100, 100, 225, 0.25) 68.18182%, rgba(100, 100, 225, 0.25) 72.72727%, rgba(0, 0, 0, 0) 72.72727%, rgba(0, 0, 0, 0) 75%, rgba(100, 100, 225, 0.25) 75%, rgba(100, 100, 225, 0.25) 79.54545%, rgba(0, 0, 0, 0) 79.54545%, rgba(0, 0, 0, 0) 81.81818%, rgba(100, 100, 225, 0.25) 81.81818%, rgba(100, 100, 225, 0.25) 86.36364%, rgba(0, 0, 0, 0) 86.36364%, rgba(0, 0, 0, 0) 88.63636%, rgba(100, 100, 225, 0.25) 88.63636%, rgba(100, 100, 225, 0.25) 93.18182%, rgba(0, 0, 0, 0) 93.18182%, rgba(0, 0, 0, 0) 95.45455%, rgba(100, 100, 225, 0.25) 95.45455%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}

/* line 29, ../sass/_base.scss */
.col-1 {
  width: 4.54545%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-1 > .col-1 {
  width: 100%;
  float: left;
  margin-right: 50%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-1 > .push-1 {
  margin-left: 150%;
}

/* line 45, ../sass/_base.scss */
.push-1 {
  margin-left: 6.81818%;
}

/* line 29, ../sass/_base.scss */
.col-2 {
  width: 11.36364%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-2 > .col-1 {
  width: 40%;
  float: left;
  margin-right: 20%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-2 > .push-1 {
  margin-left: 60%;
}
/* line 35, ../sass/_base.scss */
.col-2 > .col-2 {
  width: 100%;
  float: left;
  margin-right: 20%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-2 > .push-2 {
  margin-left: 120%;
}

/* line 45, ../sass/_base.scss */
.push-2 {
  margin-left: 13.63636%;
}

/* line 29, ../sass/_base.scss */
.col-3 {
  width: 18.18182%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-3 > .col-1 {
  width: 25%;
  float: left;
  margin-right: 12.5%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-3 > .push-1 {
  margin-left: 37.5%;
}
/* line 35, ../sass/_base.scss */
.col-3 > .col-2 {
  width: 62.5%;
  float: left;
  margin-right: 12.5%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-3 > .push-2 {
  margin-left: 75%;
}
/* line 35, ../sass/_base.scss */
.col-3 > .col-3 {
  width: 100%;
  float: left;
  margin-right: 12.5%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-3 > .push-3 {
  margin-left: 112.5%;
}

/* line 45, ../sass/_base.scss */
.push-3 {
  margin-left: 20.45455%;
}

/* line 29, ../sass/_base.scss */
.col-4 {
  width: 25%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-4 > .col-1 {
  width: 18.18182%;
  float: left;
  margin-right: 9.09091%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-4 > .push-1 {
  margin-left: 27.27273%;
}
/* line 35, ../sass/_base.scss */
.col-4 > .col-2 {
  width: 45.45455%;
  float: left;
  margin-right: 9.09091%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-4 > .push-2 {
  margin-left: 54.54545%;
}
/* line 35, ../sass/_base.scss */
.col-4 > .col-3 {
  width: 72.72727%;
  float: left;
  margin-right: 9.09091%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-4 > .push-3 {
  margin-left: 81.81818%;
}
/* line 35, ../sass/_base.scss */
.col-4 > .col-4 {
  width: 100%;
  float: left;
  margin-right: 9.09091%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-4 > .push-4 {
  margin-left: 109.09091%;
}

/* line 45, ../sass/_base.scss */
.push-4 {
  margin-left: 27.27273%;
}

/* line 29, ../sass/_base.scss */
.col-5 {
  width: 31.81818%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-5 > .col-1 {
  width: 14.28571%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-5 > .push-1 {
  margin-left: 21.42857%;
}
/* line 35, ../sass/_base.scss */
.col-5 > .col-2 {
  width: 35.71429%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-5 > .push-2 {
  margin-left: 42.85714%;
}
/* line 35, ../sass/_base.scss */
.col-5 > .col-3 {
  width: 57.14286%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-5 > .push-3 {
  margin-left: 64.28571%;
}
/* line 35, ../sass/_base.scss */
.col-5 > .col-4 {
  width: 78.57143%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-5 > .push-4 {
  margin-left: 85.71429%;
}
/* line 35, ../sass/_base.scss */
.col-5 > .col-5 {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-5 > .push-5 {
  margin-left: 107.14286%;
}

/* line 45, ../sass/_base.scss */
.push-5 {
  margin-left: 34.09091%;
}

/* line 29, ../sass/_base.scss */
.col-6 {
  width: 38.63636%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-6 > .col-1 {
  width: 11.76471%;
  float: left;
  margin-right: 5.88235%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-6 > .push-1 {
  margin-left: 17.64706%;
}
/* line 35, ../sass/_base.scss */
.col-6 > .col-2 {
  width: 29.41176%;
  float: left;
  margin-right: 5.88235%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-6 > .push-2 {
  margin-left: 35.29412%;
}
/* line 35, ../sass/_base.scss */
.col-6 > .col-3 {
  width: 47.05882%;
  float: left;
  margin-right: 5.88235%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-6 > .push-3 {
  margin-left: 52.94118%;
}
/* line 35, ../sass/_base.scss */
.col-6 > .col-4 {
  width: 64.70588%;
  float: left;
  margin-right: 5.88235%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-6 > .push-4 {
  margin-left: 70.58824%;
}
/* line 35, ../sass/_base.scss */
.col-6 > .col-5 {
  width: 82.35294%;
  float: left;
  margin-right: 5.88235%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-6 > .push-5 {
  margin-left: 88.23529%;
}
/* line 35, ../sass/_base.scss */
.col-6 > .col-6 {
  width: 100%;
  float: left;
  margin-right: 5.88235%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-6 > .push-6 {
  margin-left: 105.88235%;
}

/* line 45, ../sass/_base.scss */
.push-6 {
  margin-left: 40.90909%;
}

/* line 29, ../sass/_base.scss */
.col-7 {
  width: 45.45455%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-7 > .col-1 {
  width: 10%;
  float: left;
  margin-right: 5%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-7 > .push-1 {
  margin-left: 15%;
}
/* line 35, ../sass/_base.scss */
.col-7 > .col-2 {
  width: 25%;
  float: left;
  margin-right: 5%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-7 > .push-2 {
  margin-left: 30%;
}
/* line 35, ../sass/_base.scss */
.col-7 > .col-3 {
  width: 40%;
  float: left;
  margin-right: 5%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-7 > .push-3 {
  margin-left: 45%;
}
/* line 35, ../sass/_base.scss */
.col-7 > .col-4 {
  width: 55.0%;
  float: left;
  margin-right: 5%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-7 > .push-4 {
  margin-left: 60.0%;
}
/* line 35, ../sass/_base.scss */
.col-7 > .col-5 {
  width: 70%;
  float: left;
  margin-right: 5%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-7 > .push-5 {
  margin-left: 75%;
}
/* line 35, ../sass/_base.scss */
.col-7 > .col-6 {
  width: 85%;
  float: left;
  margin-right: 5%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-7 > .push-6 {
  margin-left: 90%;
}
/* line 35, ../sass/_base.scss */
.col-7 > .col-7 {
  width: 100%;
  float: left;
  margin-right: 5%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-7 > .push-7 {
  margin-left: 105%;
}

/* line 45, ../sass/_base.scss */
.push-7 {
  margin-left: 47.72727%;
}

/* line 29, ../sass/_base.scss */
.col-8 {
  width: 52.27273%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-8 > .col-1 {
  width: 8.69565%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-8 > .push-1 {
  margin-left: 13.04348%;
}
/* line 35, ../sass/_base.scss */
.col-8 > .col-2 {
  width: 21.73913%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-8 > .push-2 {
  margin-left: 26.08696%;
}
/* line 35, ../sass/_base.scss */
.col-8 > .col-3 {
  width: 34.78261%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-8 > .push-3 {
  margin-left: 39.13043%;
}
/* line 35, ../sass/_base.scss */
.col-8 > .col-4 {
  width: 47.82609%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-8 > .push-4 {
  margin-left: 52.17391%;
}
/* line 35, ../sass/_base.scss */
.col-8 > .col-5 {
  width: 60.86957%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-8 > .push-5 {
  margin-left: 65.21739%;
}
/* line 35, ../sass/_base.scss */
.col-8 > .col-6 {
  width: 73.91304%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-8 > .push-6 {
  margin-left: 78.26087%;
}
/* line 35, ../sass/_base.scss */
.col-8 > .col-7 {
  width: 86.95652%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-8 > .push-7 {
  margin-left: 91.30435%;
}
/* line 35, ../sass/_base.scss */
.col-8 > .col-8 {
  width: 100%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-8 > .push-8 {
  margin-left: 104.34783%;
}

/* line 45, ../sass/_base.scss */
.push-8 {
  margin-left: 54.54545%;
}

/* line 29, ../sass/_base.scss */
.col-9 {
  width: 59.09091%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-9 > .col-1 {
  width: 7.69231%;
  float: left;
  margin-right: 3.84615%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-9 > .push-1 {
  margin-left: 11.53846%;
}
/* line 35, ../sass/_base.scss */
.col-9 > .col-2 {
  width: 19.23077%;
  float: left;
  margin-right: 3.84615%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-9 > .push-2 {
  margin-left: 23.07692%;
}
/* line 35, ../sass/_base.scss */
.col-9 > .col-3 {
  width: 30.76923%;
  float: left;
  margin-right: 3.84615%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-9 > .push-3 {
  margin-left: 34.61538%;
}
/* line 35, ../sass/_base.scss */
.col-9 > .col-4 {
  width: 42.30769%;
  float: left;
  margin-right: 3.84615%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-9 > .push-4 {
  margin-left: 46.15385%;
}
/* line 35, ../sass/_base.scss */
.col-9 > .col-5 {
  width: 53.84615%;
  float: left;
  margin-right: 3.84615%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-9 > .push-5 {
  margin-left: 57.69231%;
}
/* line 35, ../sass/_base.scss */
.col-9 > .col-6 {
  width: 65.38462%;
  float: left;
  margin-right: 3.84615%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-9 > .push-6 {
  margin-left: 69.23077%;
}
/* line 35, ../sass/_base.scss */
.col-9 > .col-7 {
  width: 76.92308%;
  float: left;
  margin-right: 3.84615%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-9 > .push-7 {
  margin-left: 80.76923%;
}
/* line 35, ../sass/_base.scss */
.col-9 > .col-8 {
  width: 88.46154%;
  float: left;
  margin-right: 3.84615%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-9 > .push-8 {
  margin-left: 92.30769%;
}
/* line 35, ../sass/_base.scss */
.col-9 > .col-9 {
  width: 100%;
  float: left;
  margin-right: 3.84615%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-9 > .push-9 {
  margin-left: 103.84615%;
}

/* line 45, ../sass/_base.scss */
.push-9 {
  margin-left: 61.36364%;
}

/* line 29, ../sass/_base.scss */
.col-10 {
  width: 65.90909%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-10 > .col-1 {
  width: 6.89655%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-10 > .push-1 {
  margin-left: 10.34483%;
}
/* line 35, ../sass/_base.scss */
.col-10 > .col-2 {
  width: 17.24138%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-10 > .push-2 {
  margin-left: 20.68966%;
}
/* line 35, ../sass/_base.scss */
.col-10 > .col-3 {
  width: 27.58621%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-10 > .push-3 {
  margin-left: 31.03448%;
}
/* line 35, ../sass/_base.scss */
.col-10 > .col-4 {
  width: 37.93103%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-10 > .push-4 {
  margin-left: 41.37931%;
}
/* line 35, ../sass/_base.scss */
.col-10 > .col-5 {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-10 > .push-5 {
  margin-left: 51.72414%;
}
/* line 35, ../sass/_base.scss */
.col-10 > .col-6 {
  width: 58.62069%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-10 > .push-6 {
  margin-left: 62.06897%;
}
/* line 35, ../sass/_base.scss */
.col-10 > .col-7 {
  width: 68.96552%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-10 > .push-7 {
  margin-left: 72.41379%;
}
/* line 35, ../sass/_base.scss */
.col-10 > .col-8 {
  width: 79.31034%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-10 > .push-8 {
  margin-left: 82.75862%;
}
/* line 35, ../sass/_base.scss */
.col-10 > .col-9 {
  width: 89.65517%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-10 > .push-9 {
  margin-left: 93.10345%;
}
/* line 35, ../sass/_base.scss */
.col-10 > .col-10 {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-10 > .push-10 {
  margin-left: 103.44828%;
}

/* line 45, ../sass/_base.scss */
.push-10 {
  margin-left: 68.18182%;
}

/* line 29, ../sass/_base.scss */
.col-11 {
  width: 72.72727%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-11 > .col-1 {
  width: 6.25%;
  float: left;
  margin-right: 3.125%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-11 > .push-1 {
  margin-left: 9.375%;
}
/* line 35, ../sass/_base.scss */
.col-11 > .col-2 {
  width: 15.625%;
  float: left;
  margin-right: 3.125%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-11 > .push-2 {
  margin-left: 18.75%;
}
/* line 35, ../sass/_base.scss */
.col-11 > .col-3 {
  width: 25%;
  float: left;
  margin-right: 3.125%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-11 > .push-3 {
  margin-left: 28.125%;
}
/* line 35, ../sass/_base.scss */
.col-11 > .col-4 {
  width: 34.375%;
  float: left;
  margin-right: 3.125%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-11 > .push-4 {
  margin-left: 37.5%;
}
/* line 35, ../sass/_base.scss */
.col-11 > .col-5 {
  width: 43.75%;
  float: left;
  margin-right: 3.125%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-11 > .push-5 {
  margin-left: 46.875%;
}
/* line 35, ../sass/_base.scss */
.col-11 > .col-6 {
  width: 53.125%;
  float: left;
  margin-right: 3.125%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-11 > .push-6 {
  margin-left: 56.25%;
}
/* line 35, ../sass/_base.scss */
.col-11 > .col-7 {
  width: 62.5%;
  float: left;
  margin-right: 3.125%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-11 > .push-7 {
  margin-left: 65.625%;
}
/* line 35, ../sass/_base.scss */
.col-11 > .col-8 {
  width: 71.875%;
  float: left;
  margin-right: 3.125%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-11 > .push-8 {
  margin-left: 75%;
}
/* line 35, ../sass/_base.scss */
.col-11 > .col-9 {
  width: 81.25%;
  float: left;
  margin-right: 3.125%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-11 > .push-9 {
  margin-left: 84.375%;
}
/* line 35, ../sass/_base.scss */
.col-11 > .col-10 {
  width: 90.625%;
  float: left;
  margin-right: 3.125%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-11 > .push-10 {
  margin-left: 93.75%;
}
/* line 35, ../sass/_base.scss */
.col-11 > .col-11 {
  width: 100%;
  float: left;
  margin-right: 3.125%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-11 > .push-11 {
  margin-left: 103.125%;
}

/* line 45, ../sass/_base.scss */
.push-11 {
  margin-left: 75%;
}

/* line 29, ../sass/_base.scss */
.col-12 {
  width: 79.54545%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-12 > .col-1 {
  width: 5.71429%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-12 > .push-1 {
  margin-left: 8.57143%;
}
/* line 35, ../sass/_base.scss */
.col-12 > .col-2 {
  width: 14.28571%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-12 > .push-2 {
  margin-left: 17.14286%;
}
/* line 35, ../sass/_base.scss */
.col-12 > .col-3 {
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-12 > .push-3 {
  margin-left: 25.71429%;
}
/* line 35, ../sass/_base.scss */
.col-12 > .col-4 {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-12 > .push-4 {
  margin-left: 34.28571%;
}
/* line 35, ../sass/_base.scss */
.col-12 > .col-5 {
  width: 40%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-12 > .push-5 {
  margin-left: 42.85714%;
}
/* line 35, ../sass/_base.scss */
.col-12 > .col-6 {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-12 > .push-6 {
  margin-left: 51.42857%;
}
/* line 35, ../sass/_base.scss */
.col-12 > .col-7 {
  width: 57.14286%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-12 > .push-7 {
  margin-left: 60.0%;
}
/* line 35, ../sass/_base.scss */
.col-12 > .col-8 {
  width: 65.71429%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-12 > .push-8 {
  margin-left: 68.57143%;
}
/* line 35, ../sass/_base.scss */
.col-12 > .col-9 {
  width: 74.28571%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-12 > .push-9 {
  margin-left: 77.14286%;
}
/* line 35, ../sass/_base.scss */
.col-12 > .col-10 {
  width: 82.85714%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-12 > .push-10 {
  margin-left: 85.71429%;
}
/* line 35, ../sass/_base.scss */
.col-12 > .col-11 {
  width: 91.42857%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-12 > .push-11 {
  margin-left: 94.28571%;
}
/* line 35, ../sass/_base.scss */
.col-12 > .col-12 {
  width: 100%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-12 > .push-12 {
  margin-left: 102.85714%;
}

/* line 45, ../sass/_base.scss */
.push-12 {
  margin-left: 81.81818%;
}

/* line 29, ../sass/_base.scss */
.col-13 {
  width: 86.36364%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-13 > .col-1 {
  width: 5.26316%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-13 > .push-1 {
  margin-left: 7.89474%;
}
/* line 35, ../sass/_base.scss */
.col-13 > .col-2 {
  width: 13.15789%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-13 > .push-2 {
  margin-left: 15.78947%;
}
/* line 35, ../sass/_base.scss */
.col-13 > .col-3 {
  width: 21.05263%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-13 > .push-3 {
  margin-left: 23.68421%;
}
/* line 35, ../sass/_base.scss */
.col-13 > .col-4 {
  width: 28.94737%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-13 > .push-4 {
  margin-left: 31.57895%;
}
/* line 35, ../sass/_base.scss */
.col-13 > .col-5 {
  width: 36.84211%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-13 > .push-5 {
  margin-left: 39.47368%;
}
/* line 35, ../sass/_base.scss */
.col-13 > .col-6 {
  width: 44.73684%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-13 > .push-6 {
  margin-left: 47.36842%;
}
/* line 35, ../sass/_base.scss */
.col-13 > .col-7 {
  width: 52.63158%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-13 > .push-7 {
  margin-left: 55.26316%;
}
/* line 35, ../sass/_base.scss */
.col-13 > .col-8 {
  width: 60.52632%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-13 > .push-8 {
  margin-left: 63.15789%;
}
/* line 35, ../sass/_base.scss */
.col-13 > .col-9 {
  width: 68.42105%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-13 > .push-9 {
  margin-left: 71.05263%;
}
/* line 35, ../sass/_base.scss */
.col-13 > .col-10 {
  width: 76.31579%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-13 > .push-10 {
  margin-left: 78.94737%;
}
/* line 35, ../sass/_base.scss */
.col-13 > .col-11 {
  width: 84.21053%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-13 > .push-11 {
  margin-left: 86.84211%;
}
/* line 35, ../sass/_base.scss */
.col-13 > .col-12 {
  width: 92.10526%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-13 > .push-12 {
  margin-left: 94.73684%;
}
/* line 35, ../sass/_base.scss */
.col-13 > .col-13 {
  width: 100%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-13 > .push-13 {
  margin-left: 102.63158%;
}

/* line 45, ../sass/_base.scss */
.push-13 {
  margin-left: 88.63636%;
}

/* line 29, ../sass/_base.scss */
.col-14 {
  width: 93.18182%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-1 {
  width: 4.87805%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-1 {
  margin-left: 7.31707%;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-2 {
  width: 12.19512%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-2 {
  margin-left: 14.63415%;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-3 {
  width: 19.5122%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-3 {
  margin-left: 21.95122%;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-4 {
  width: 26.82927%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-4 {
  margin-left: 29.26829%;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-5 {
  width: 34.14634%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-5 {
  margin-left: 36.58537%;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-6 {
  width: 41.46341%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-6 {
  margin-left: 43.90244%;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-7 {
  width: 48.78049%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-7 {
  margin-left: 51.21951%;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-8 {
  width: 56.09756%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-8 {
  margin-left: 58.53659%;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-9 {
  width: 63.41463%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-9 {
  margin-left: 65.85366%;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-10 {
  width: 70.73171%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-10 {
  margin-left: 73.17073%;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-11 {
  width: 78.04878%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-11 {
  margin-left: 80.4878%;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-12 {
  width: 85.36585%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-12 {
  margin-left: 87.80488%;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-13 {
  width: 92.68293%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-13 {
  margin-left: 95.12195%;
}
/* line 35, ../sass/_base.scss */
.col-14 > .col-14 {
  width: 100%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-14 > .push-14 {
  margin-left: 102.43902%;
}

/* line 45, ../sass/_base.scss */
.push-14 {
  margin-left: 95.45455%;
}

/* line 29, ../sass/_base.scss */
.col-15 {
  width: 100%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-1 {
  width: 4.54545%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-1 {
  margin-left: 6.81818%;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-2 {
  width: 11.36364%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-2 {
  margin-left: 13.63636%;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-3 {
  width: 18.18182%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-3 {
  margin-left: 20.45455%;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-4 {
  width: 25%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-4 {
  margin-left: 27.27273%;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-5 {
  width: 31.81818%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-5 {
  margin-left: 34.09091%;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-6 {
  width: 38.63636%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-6 {
  margin-left: 40.90909%;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-7 {
  width: 45.45455%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-7 {
  margin-left: 47.72727%;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-8 {
  width: 52.27273%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-8 {
  margin-left: 54.54545%;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-9 {
  width: 59.09091%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-9 {
  margin-left: 61.36364%;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-10 {
  width: 65.90909%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-10 {
  margin-left: 68.18182%;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-11 {
  width: 72.72727%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-11 {
  margin-left: 75%;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-12 {
  width: 79.54545%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-12 {
  margin-left: 81.81818%;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-13 {
  width: 86.36364%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-13 {
  margin-left: 88.63636%;
}
/* line 35, ../sass/_base.scss */
.col-15 > .col-14 {
  width: 93.18182%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 39, ../sass/_base.scss */
.col-15 > .push-14 {
  margin-left: 95.45455%;
}

/* line 45, ../sass/_base.scss */
.push-15 {
  margin-left: 102.27273%;
}

/* line 51, ../sass/_base.scss */
.i-container {
  font-size: 0;
}

/* line 55, ../sass/_base.scss */
.i-col {
  float: none;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

/* line 64, ../sass/_base.scss */
.box:before, .box:after {
  content: "";
  display: table;
}
/* line 69, ../sass/_base.scss */
.box:after {
  clear: both;
}

/* line 74, ../sass/_base.scss */
.justify-box {
  text-align: justify;
}
/* line 77, ../sass/_base.scss */
.justify-box:after {
  content: '';
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
}
/* line 85, ../sass/_base.scss */
.justify-box .i-col {
  text-align: left;
}

/* line 91, ../sass/_base.scss */
.omega {
  float: right !important;
  margin-right: 0 !important;
}

/* line 96, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 100, ../sass/_base.scss */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 105, ../sass/_base.scss */
.pull-left {
  float: left;
}

/* line 109, ../sass/_base.scss */
.pull-right {
  float: right;
}

/* line 116, ../sass/_base.scss */
html, body {
  font: normal 16px/24px "PT Sans";
}

/* line 120, ../sass/_base.scss */
body {
  overflow-y: scroll;
}

/* line 124, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
/* line 129, ../sass/_mixins.scss */
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 12px;
}
/* line 133, ../sass/_mixins.scss */
h1.tight, h2.tight, h3.tight, h4.tight, h5.tight, h6.tight {
  letter-spacing: 0;
}

/* line 128, ../sass/_base.scss */
h1, .h1 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

/* line 132, ../sass/_base.scss */
h2, .h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

/* line 136, ../sass/_base.scss */
h3, .h3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

/* line 140, ../sass/_base.scss */
h4, .h4 {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

/* line 144, ../sass/_base.scss */
p {
  font: normal 16px/24px "PT Sans";
  margin-bottom: 12px;
}

/* line 148, ../sass/_base.scss */
blockquote {
  font-size: 24px;
  line-height: 30px;
  color: black;
  box-sizing: border-box;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-left: 2px solid rgba(0, 0, 0, 0.5);
}

/* line 152, ../sass/_base.scss */
p.blockquote {
  font-size: 24px;
  line-height: 30px;
  color: black;
  box-sizing: border-box;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-left: 2px solid rgba(0, 0, 0, 0.5);
}

/* line 156, ../sass/_base.scss */
.small-caps {
  font-variant: small-caps;
}

/* line 160, ../sass/_base.scss */
.base-text {
  font-size: 16px;
  line-height: 24px;
}

/* line 164, ../sass/_base.scss */
.small-text {
  font-size: 12px;
  line-height: 18px;
}

/* line 168, ../sass/_base.scss */
.medium-text {
  font-size: 14px;
  line-height: 18px;
}

/* line 172, ../sass/_base.scss */
.big-text {
  font-size: 24px;
  line-height: 30px;
}

/* line 176, ../sass/_base.scss */
small {
  font-size: 75%;
  line-height: 75%;
}

/* line 182, ../sass/_base.scss */
strong, b,
.strong, .b {
  font-weight: bold;
}

/* line 186, ../sass/_base.scss */
i {
  font-style: italic;
}

/* line 190, ../sass/_base.scss */
p.emph-light {
  background: #66cccc;
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* line 194, ../sass/_base.scss */
p.emph-dark {
  background: #237070;
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* line 198, ../sass/_base.scss */
span.emph-light {
  background: #66cccc;
}

/* line 202, ../sass/_base.scss */
span.emph-dark {
  background: #237070;
}

/* line 206, ../sass/_base.scss */
p.code {
  background: #237070;
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  white-space: pre-wrap;
}

/* line 211, ../sass/_base.scss */
p.code {
  font-family: monospace;
}

/* line 215, ../sass/_base.scss */
a, a:visited {
  text-decoration: none;
  color: #019add;
  border-bottom: 1px solid rgba(1, 154, 221, 0.5);
}

/* line 219, ../sass/_base.scss */
a:hover {
  text-decoration: none;
  color: #de6c07;
  border-bottom: 1px solid rgba(222, 108, 7, 0.5);
}

/* line 223, ../sass/_base.scss */
.left-text {
  text-align: left;
}

/* line 227, ../sass/_base.scss */
.right-text {
  text-align: right;
}

/* line 231, ../sass/_base.scss */
.center-text {
  text-align: center;
}

/* line 237, ../sass/_base.scss */
.btn-gray {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 12px;
  margin: 6px 0px;
  font-size: 16px;
  font-weight: bold;
  font-family: "PT Sans";
  line-height: 24px;
  border: 1px solid;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white !important;
}
/* line 259, ../sass/_mixins.scss */
.btn-gray {
  background: #b3b3b3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d4d4), color-stop(100%, #b3b3b3));
  background-image: -webkit-linear-gradient(top, #d4d4d4, #b3b3b3);
  background-image: -moz-linear-gradient(top, #d4d4d4, #b3b3b3);
  background-image: -o-linear-gradient(top, #d4d4d4, #b3b3b3);
  background-image: linear-gradient(top, #d4d4d4, #b3b3b3);
  -webkit-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #ececec 0px 1px 0px 0px inset, #656565 0px -1px 0px 0px inset, darkgrey -1px 0px 0px 0px inset;
  -moz-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #ececec 0px 1px 0px 0px inset, #656565 0px -1px 0px 0px inset, darkgrey -1px 0px 0px 0px inset;
  box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #ececec 0px 1px 0px 0px inset, #656565 0px -1px 0px 0px inset, darkgrey -1px 0px 0px 0px inset;
  border-color: #9a9a9a !important;
}
/* line 266, ../sass/_mixins.scss */
.btn-gray:hover {
  background: silver;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1e1e1), color-stop(100%, #c0c0c0));
  background-image: -webkit-linear-gradient(top, #e1e1e1, #c0c0c0);
  background-image: -moz-linear-gradient(top, #e1e1e1, #c0c0c0);
  background-image: -o-linear-gradient(top, #e1e1e1, #c0c0c0);
  background-image: linear-gradient(top, #e1e1e1, #c0c0c0);
  -webkit-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f9f9f9 0px 1px 0px 0px inset, #727272 0px -1px 0px 0px inset, #b6b6b6 -1px 0px 0px 0px inset;
  -moz-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f9f9f9 0px 1px 0px 0px inset, #727272 0px -1px 0px 0px inset, #b6b6b6 -1px 0px 0px 0px inset;
  box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f9f9f9 0px 1px 0px 0px inset, #727272 0px -1px 0px 0px inset, #b6b6b6 -1px 0px 0px 0px inset;
  border-color: #a7a7a7 !important;
}
/* line 273, ../sass/_mixins.scss */
.btn-gray:active {
  background: #d4d4d4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3b3b3), color-stop(100%, #d4d4d4));
  background-image: -webkit-linear-gradient(top, #b3b3b3, #d4d4d4);
  background-image: -moz-linear-gradient(top, #b3b3b3, #d4d4d4);
  background-image: -o-linear-gradient(top, #b3b3b3, #d4d4d4);
  background-image: linear-gradient(top, #b3b3b3, #d4d4d4);
}

/* line 242, ../sass/_base.scss */
.btn-red, .btn-search {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 12px;
  margin: 6px 0px;
  font-size: 16px;
  font-weight: bold;
  font-family: "PT Sans";
  line-height: 24px;
  border: 1px solid;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white !important;
}
/* line 259, ../sass/_mixins.scss */
.btn-red, .btn-search {
  background: #df3209;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f04b1e), color-stop(100%, #df3209));
  background-image: -webkit-linear-gradient(top, #f04b1e, #df3209);
  background-image: -moz-linear-gradient(top, #f04b1e, #df3209);
  background-image: -o-linear-gradient(top, #f04b1e, #df3209);
  background-image: linear-gradient(top, #f04b1e, #df3209);
  -webkit-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f6977d 0px 1px 0px 0px inset, #7c1901 0px -1px 0px 0px inset, #ca3b15 -1px 0px 0px 0px inset;
  -moz-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f6977d 0px 1px 0px 0px inset, #7c1901 0px -1px 0px 0px inset, #ca3b15 -1px 0px 0px 0px inset;
  box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f6977d 0px 1px 0px 0px inset, #7c1901 0px -1px 0px 0px inset, #ca3b15 -1px 0px 0px 0px inset;
  border-color: #b52706 !important;
}
/* line 266, ../sass/_mixins.scss */
.btn-red:hover, .btn-search:hover {
  background: #f5390c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f25e36), color-stop(100%, #f5390c));
  background-image: -webkit-linear-gradient(top, #f25e36, #f5390c);
  background-image: -moz-linear-gradient(top, #f25e36, #f5390c);
  background-image: -o-linear-gradient(top, #f25e36, #f5390c);
  background-image: linear-gradient(top, #f25e36, #f5390c);
  -webkit-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f8aa95 0px 1px 0px 0px inset, #951e01 0px -1px 0px 0px inset, #e14217 -1px 0px 0px 0px inset;
  -moz-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f8aa95 0px 1px 0px 0px inset, #951e01 0px -1px 0px 0px inset, #e14217 -1px 0px 0px 0px inset;
  box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f8aa95 0px 1px 0px 0px inset, #951e01 0px -1px 0px 0px inset, #e14217 -1px 0px 0px 0px inset;
  border-color: #ce2c07 !important;
}
/* line 273, ../sass/_mixins.scss */
.btn-red:active, .btn-search:active {
  background: #f04b1e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #df3209), color-stop(100%, #f04b1e));
  background-image: -webkit-linear-gradient(top, #df3209, #f04b1e);
  background-image: -moz-linear-gradient(top, #df3209, #f04b1e);
  background-image: -o-linear-gradient(top, #df3209, #f04b1e);
  background-image: linear-gradient(top, #df3209, #f04b1e);
}

/* line 247, ../sass/_base.scss */
.btn-big-gray {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 12px;
  margin: 6px 0px;
  font-size: 24px;
  font-weight: bold;
  font-family: "PT Sans";
  line-height: 30px;
  border: 1px solid;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white !important;
}
/* line 280, ../sass/_mixins.scss */
.btn-big-gray {
  background: #b3b3b3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d4d4), color-stop(100%, #b3b3b3));
  background-image: -webkit-linear-gradient(top, #d4d4d4, #b3b3b3);
  background-image: -moz-linear-gradient(top, #d4d4d4, #b3b3b3);
  background-image: -o-linear-gradient(top, #d4d4d4, #b3b3b3);
  background-image: linear-gradient(top, #d4d4d4, #b3b3b3);
  -webkit-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #ececec 0px 1px 0px 0px inset;
  -moz-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #ececec 0px 1px 0px 0px inset;
  box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #ececec 0px 1px 0px 0px inset;
  border-color: #9a9a9a !important;
}
/* line 287, ../sass/_mixins.scss */
.btn-big-gray:hover {
  background: silver;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1e1e1), color-stop(100%, #c0c0c0));
  background-image: -webkit-linear-gradient(top, #e1e1e1, #c0c0c0);
  background-image: -moz-linear-gradient(top, #e1e1e1, #c0c0c0);
  background-image: -o-linear-gradient(top, #e1e1e1, #c0c0c0);
  background-image: linear-gradient(top, #e1e1e1, #c0c0c0);
  -webkit-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f9f9f9 0px 1px 0px 0px inset;
  -moz-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f9f9f9 0px 1px 0px 0px inset;
  box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f9f9f9 0px 1px 0px 0px inset;
  border-color: #a7a7a7 !important;
}
/* line 294, ../sass/_mixins.scss */
.btn-big-gray:active {
  background: #d4d4d4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3b3b3), color-stop(100%, #d4d4d4));
  background-image: -webkit-linear-gradient(top, #b3b3b3, #d4d4d4);
  background-image: -moz-linear-gradient(top, #b3b3b3, #d4d4d4);
  background-image: -o-linear-gradient(top, #b3b3b3, #d4d4d4);
  background-image: linear-gradient(top, #b3b3b3, #d4d4d4);
}

/* line 252, ../sass/_base.scss */
.btn-big-red {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 12px;
  margin: 6px 0px;
  font-size: 24px;
  font-weight: bold;
  font-family: "PT Sans";
  line-height: 30px;
  border: 1px solid;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white !important;
}
/* line 280, ../sass/_mixins.scss */
.btn-big-red {
  background: #df3209;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f04b1e), color-stop(100%, #df3209));
  background-image: -webkit-linear-gradient(top, #f04b1e, #df3209);
  background-image: -moz-linear-gradient(top, #f04b1e, #df3209);
  background-image: -o-linear-gradient(top, #f04b1e, #df3209);
  background-image: linear-gradient(top, #f04b1e, #df3209);
  -webkit-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f6977d 0px 1px 0px 0px inset;
  -moz-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f6977d 0px 1px 0px 0px inset;
  box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f6977d 0px 1px 0px 0px inset;
  border-color: #b52706 !important;
}
/* line 287, ../sass/_mixins.scss */
.btn-big-red:hover {
  background: #f5390c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f25e36), color-stop(100%, #f5390c));
  background-image: -webkit-linear-gradient(top, #f25e36, #f5390c);
  background-image: -moz-linear-gradient(top, #f25e36, #f5390c);
  background-image: -o-linear-gradient(top, #f25e36, #f5390c);
  background-image: linear-gradient(top, #f25e36, #f5390c);
  -webkit-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f8aa95 0px 1px 0px 0px inset;
  -moz-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f8aa95 0px 1px 0px 0px inset;
  box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f8aa95 0px 1px 0px 0px inset;
  border-color: #ce2c07 !important;
}
/* line 294, ../sass/_mixins.scss */
.btn-big-red:active {
  background: #f04b1e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #df3209), color-stop(100%, #f04b1e));
  background-image: -webkit-linear-gradient(top, #df3209, #f04b1e);
  background-image: -moz-linear-gradient(top, #df3209, #f04b1e);
  background-image: -o-linear-gradient(top, #df3209, #f04b1e);
  background-image: linear-gradient(top, #df3209, #f04b1e);
}

/* line 257, ../sass/_base.scss */
.btn-link {
  text-decoration: none;
  color: #019add;
  border-bottom: 1px solid rgba(1, 154, 221, 0.5);
  border-top: none;
  border-left: none;
  border-right: none;
  line-height: 1.3em;
  font-size: inherit;
  font-family: inherit;
  background: none;
  cursor: pointer;
  display: inline !important;
  padding: 0px;
  height: auto;
}
/* line 253, ../sass/_mixins.scss */
.btn-link:hover {
  text-decoration: none;
  color: #de6c07;
  border-bottom: 1px solid rgba(222, 108, 7, 0.5);
}

/* line 261, ../sass/_base.scss */
.btn-mini-gray, .btn-minus {
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 7px;
  margin: 6px 0px;
  font-size: 12px;
  font-weight: bold;
  font-family: "PT Sans";
  line-height: 18px;
  border: 1px solid;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #2a2a2a !important;
}
/* line 259, ../sass/_mixins.scss */
.btn-mini-gray, .btn-minus {
  background: #b3b3b3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d4d4), color-stop(100%, #b3b3b3));
  background-image: -webkit-linear-gradient(top, #d4d4d4, #b3b3b3);
  background-image: -moz-linear-gradient(top, #d4d4d4, #b3b3b3);
  background-image: -o-linear-gradient(top, #d4d4d4, #b3b3b3);
  background-image: linear-gradient(top, #d4d4d4, #b3b3b3);
  -webkit-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #ececec 0px 1px 0px 0px inset, #656565 0px -1px 0px 0px inset, darkgrey -1px 0px 0px 0px inset;
  -moz-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #ececec 0px 1px 0px 0px inset, #656565 0px -1px 0px 0px inset, darkgrey -1px 0px 0px 0px inset;
  box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #ececec 0px 1px 0px 0px inset, #656565 0px -1px 0px 0px inset, darkgrey -1px 0px 0px 0px inset;
  border-color: #9a9a9a !important;
}
/* line 266, ../sass/_mixins.scss */
.btn-mini-gray:hover, .btn-minus:hover {
  background: silver;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1e1e1), color-stop(100%, #c0c0c0));
  background-image: -webkit-linear-gradient(top, #e1e1e1, #c0c0c0);
  background-image: -moz-linear-gradient(top, #e1e1e1, #c0c0c0);
  background-image: -o-linear-gradient(top, #e1e1e1, #c0c0c0);
  background-image: linear-gradient(top, #e1e1e1, #c0c0c0);
  -webkit-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f9f9f9 0px 1px 0px 0px inset, #727272 0px -1px 0px 0px inset, #b6b6b6 -1px 0px 0px 0px inset;
  -moz-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f9f9f9 0px 1px 0px 0px inset, #727272 0px -1px 0px 0px inset, #b6b6b6 -1px 0px 0px 0px inset;
  box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f9f9f9 0px 1px 0px 0px inset, #727272 0px -1px 0px 0px inset, #b6b6b6 -1px 0px 0px 0px inset;
  border-color: #a7a7a7 !important;
}
/* line 273, ../sass/_mixins.scss */
.btn-mini-gray:active, .btn-minus:active {
  background: #d4d4d4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3b3b3), color-stop(100%, #d4d4d4));
  background-image: -webkit-linear-gradient(top, #b3b3b3, #d4d4d4);
  background-image: -moz-linear-gradient(top, #b3b3b3, #d4d4d4);
  background-image: -o-linear-gradient(top, #b3b3b3, #d4d4d4);
  background-image: linear-gradient(top, #b3b3b3, #d4d4d4);
}

/* line 266, ../sass/_base.scss */
.btn-mini-red, .btn-plus, .btn-x {
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 7px;
  margin: 6px 0px;
  font-size: 12px;
  font-weight: bold;
  font-family: "PT Sans";
  line-height: 18px;
  border: 1px solid;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #2a2a2a !important;
}
/* line 259, ../sass/_mixins.scss */
.btn-mini-red, .btn-plus, .btn-x {
  background: #df3209;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f04b1e), color-stop(100%, #df3209));
  background-image: -webkit-linear-gradient(top, #f04b1e, #df3209);
  background-image: -moz-linear-gradient(top, #f04b1e, #df3209);
  background-image: -o-linear-gradient(top, #f04b1e, #df3209);
  background-image: linear-gradient(top, #f04b1e, #df3209);
  -webkit-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f6977d 0px 1px 0px 0px inset, #7c1901 0px -1px 0px 0px inset, #ca3b15 -1px 0px 0px 0px inset;
  -moz-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f6977d 0px 1px 0px 0px inset, #7c1901 0px -1px 0px 0px inset, #ca3b15 -1px 0px 0px 0px inset;
  box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f6977d 0px 1px 0px 0px inset, #7c1901 0px -1px 0px 0px inset, #ca3b15 -1px 0px 0px 0px inset;
  border-color: #b52706 !important;
}
/* line 266, ../sass/_mixins.scss */
.btn-mini-red:hover, .btn-plus:hover, .btn-x:hover {
  background: #f5390c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f25e36), color-stop(100%, #f5390c));
  background-image: -webkit-linear-gradient(top, #f25e36, #f5390c);
  background-image: -moz-linear-gradient(top, #f25e36, #f5390c);
  background-image: -o-linear-gradient(top, #f25e36, #f5390c);
  background-image: linear-gradient(top, #f25e36, #f5390c);
  -webkit-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f8aa95 0px 1px 0px 0px inset, #951e01 0px -1px 0px 0px inset, #e14217 -1px 0px 0px 0px inset;
  -moz-box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f8aa95 0px 1px 0px 0px inset, #951e01 0px -1px 0px 0px inset, #e14217 -1px 0px 0px 0px inset;
  box-shadow: rgba(61, 62, 62, 0.5) 0px 5px 5px -2px, #f8aa95 0px 1px 0px 0px inset, #951e01 0px -1px 0px 0px inset, #e14217 -1px 0px 0px 0px inset;
  border-color: #ce2c07 !important;
}
/* line 273, ../sass/_mixins.scss */
.btn-mini-red:active, .btn-plus:active, .btn-x:active {
  background: #f04b1e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #df3209), color-stop(100%, #f04b1e));
  background-image: -webkit-linear-gradient(top, #df3209, #f04b1e);
  background-image: -moz-linear-gradient(top, #df3209, #f04b1e);
  background-image: -o-linear-gradient(top, #df3209, #f04b1e);
  background-image: linear-gradient(top, #df3209, #f04b1e);
}

/* line 279, ../sass/_base.scss */
.field-box input, .field-box textarea {
  width: 100%;
}
/* line 284, ../sass/_base.scss */
.field-box.input-with-add .input-add {
  float: left;
}
/* line 288, ../sass/_base.scss */
.field-box.input-with-add .input-box {
  margin-left: 42px;
}

/* line 295, ../sass/_base.scss */
input[type="text"],
.input {
  margin: 6px 0px;
  outline: none;
  border: 1px solid #a8a8a8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-family: "PT Sans";
  padding: 5px 12px;
  vertical-align: top;
}
/* line 49, ../sass/_mixins.scss */
input[type="text"].placeholder,
.input.placeholder {
  color: #8d8d8d;
}
/* line 50, ../sass/_mixins.scss */
input[type="text"]:-moz-placeholder,
.input:-moz-placeholder {
  color: #8d8d8d;
}
/* line 51, ../sass/_mixins.scss */
input[type="text"]::-moz-placeholder,
.input::-moz-placeholder {
  color: #8d8d8d;
}
/* line 52, ../sass/_mixins.scss */
input[type="text"]:-ms-input-placeholder,
.input:-ms-input-placeholder {
  color: #8d8d8d;
}
/* line 53, ../sass/_mixins.scss */
input[type="text"]::-webkit-input-placeholder,
.input::-webkit-input-placeholder {
  color: #8d8d8d;
}

/* line 300, ../sass/_base.scss */
textarea,
.textarea {
  margin: 6px 0px;
  outline: none;
  border: 1px solid #a8a8a8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-family: "PT Sans";
  padding: 5px 12px;
  vertical-align: top;
  resize: none;
}
/* line 49, ../sass/_mixins.scss */
textarea.placeholder,
.textarea.placeholder {
  color: #8d8d8d;
}
/* line 50, ../sass/_mixins.scss */
textarea:-moz-placeholder,
.textarea:-moz-placeholder {
  color: #8d8d8d;
}
/* line 51, ../sass/_mixins.scss */
textarea::-moz-placeholder,
.textarea::-moz-placeholder {
  color: #8d8d8d;
}
/* line 52, ../sass/_mixins.scss */
textarea:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: #8d8d8d;
}
/* line 53, ../sass/_mixins.scss */
textarea::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #8d8d8d;
}
/* line 304, ../sass/_base.scss */
textarea.resizable,
.textarea.resizable {
  resize: both;
}

/* line 313, ../sass/_base.scss */
fieldset.is-with-error input[type="text"], .field-box.is-with-error input[type="text"], input[type="text"].is-with-error,
fieldset.is-with-error .input, .field-box.is-with-error .input, .input.is-with-error,
fieldset.is-with-error textarea, .field-box.is-with-error textarea, textarea.is-with-error,
fieldset.is-with-error .textarea, .field-box.is-with-error .textarea, .textarea.is-with-error {
  border-width: 2px !important;
  padding: 4px 11px !important;
  border-color: #c40204 !important;
}

/* line 317, ../sass/_base.scss */
.input-search {
  position: relative;
}

/* line 321, ../sass/_base.scss */
.error-mark {
  display: inline-block;
  margin: 15px;
}
/* line 390, ../sass/_mixins.scss */
.error-mark {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-error.png?1378827892');
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.error-mark.icon-right {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 327, ../sass/_base.scss */
.success-mark {
  display: inline-block;
  margin: 15px;
}
/* line 390, ../sass/_mixins.scss */
.success-mark {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-success.png?1378828589');
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.success-mark.icon-right {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 390, ../sass/_mixins.scss */
.icon-search {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-search.png?1378859886');
  width: 18px;
  height: 22px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.icon-search.icon-right {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 338, ../sass/_base.scss */
.field-box.input-with-add .input-add {
  display: inline-block;
  margin: 6px -4px 6px 0px;
  background: #ededed;
  outline: none;
  border-top: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  border-left: 1px solid #a8a8a8;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-family: "PT Sans";
  font-weight: bold;
  padding: 5px 12px;
  vertical-align: top;
}
/* line 343, ../sass/_base.scss */
.field-box.input-with-add input[type="text"],
.field-box.input-with-add .input {
  border-left: none;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* line 350, ../sass/_base.scss */
.is-with-error .input-add {
  border-width: 2px !important;
  padding: 4px 12px !important;
  border-color: #c40204 !important;
}

/* line 356, ../sass/_base.scss */
.field-box.input-search input[type="text"],
.field-box.input-search .input {
  padding-right: 18px !important;
}
/* line 360, ../sass/_base.scss */
.field-box.input-search .btn-search {
  margin-left: -12px;
}

/* line 369, ../sass/_base.scss */
.nav li.is-active a, .v-nav li.is-active a, .h-nav li.is-active a,
.nav li.is-active a:hover,
.v-nav li.is-active a:hover,
.h-nav li.is-active a:hover {
  color: black;
  border-bottom: none;
  cursor: default;
}

/* line 381, ../sass/_base.scss */
.h-nav li {
  display: inline-block;
}

/* line 421, ../sass/_mixins.scss */
.box-link, .box-link:hover {
  display: inline-block;
  text-decoration: none;
  border-bottom: none;
}

/* line 396, ../sass/_base.scss */
.is-hidden {
  display: none;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/pts55f_w.eot");
  src: local("PT Sans"), url("../fonts/PTS55F_W.woff") format("woff"), url("../fonts/PTS55F_W.ttf") format("truetype"), url("../fonts/PTS55F_W.svg#PTSans-Regular") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url("pts56f_w.eot");
  src: local("PT Sans Italic"), url("../fonts/PTS56F_W.woff") format("woff"), url("../fonts/PTS56F_W.ttf") format("truetype"), url("../fonts/PTS56F_W.svg#PTSans-Italic") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  src: url("pts75f_w.eot");
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"), url("../fonts/PTS75F_W.woff") format("woff"), url("../fonts/PTS75F_W.ttf") format("truetype"), url("../fonts/PTS75F_W.svg#PTSans-Bold") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url("pts76f_w.eot");
  src: local("../fonts/PT Sans Bold Italic"), url("../fonts/PTS76F_W.woff") format("woff"), url("../fonts/PTS76F_W.ttf") format("truetype"), url("../fonts/PTS76F_W.svg#PTSans-BoldItalic") format("svg");
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url("ptc55f_w.eot");
  src: local("PT Sans Caption"), url("../fonts/PTC55F_W.woff") format("woff"), url("../fonts/PTC55F_W.ttf") format("truetype"), url("../fonts/PTC55F_W.svg#PTSans-Caption") format("svg");
}

@font-face {
  font-family: 'PT Sans Caption';
  font-weight: bold;
  src: url("ptc75f_w.eot");
  src: local("PT Sans Caption Bold"), url("../fonts/PTC75F_W.woff") format("woff"), url("../fonts/TC75F_W.ttf") format("truetype"), url("../fonts/PTC75F_W.svg#PTSans-CaptionBold") format("svg");
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url("ptn57f_w.eot");
  src: local("PT Sans Narrow"), url("../fonts/PTN57F_W.woff") format("woff"), url("../fonts/PTN57F_W.ttf") format("truetype"), url("../fonts/PTN57F_W.svg#PTSans-Narrow") format("svg");
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  src: url("ptn77f_w.eot");
  src: local("PT Sans Narrow Bold"), url("../fonts/PTN77F_W.woff") format("woff"), url("../fonts/PTN77F_W.ttf") format("truetype"), url("../fonts/PTN77F_W.svg#PTSans-NarrowBold") format("svg");
}

/* line 56, ../sass/_mixins.scss */
.cell-line {
  display: table;
}
/* line 59, ../sass/_mixins.scss */
.cell-line > * {
  display: table-cell;
  float: none !important;
  vertical-align: middle;
}

/* line 390, ../sass/_mixins.scss */
.icon-contacts {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-contacts.png?1381324185');
  width: 29px;
  height: 35px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.icon-contacts.icon-right {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 390, ../sass/_mixins.scss */
.icon-catalog {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-catalog.png?1381431680');
  width: 15px;
  height: 16px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.icon-catalog.icon-right {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 390, ../sass/_mixins.scss */
.icon-save-big {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-save-big.png?1381438429');
  width: 28px;
  height: 36px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.icon-save-big.icon-right {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 390, ../sass/_mixins.scss */
.icon-reviews {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-reviews.png?1381443554');
  width: 18px;
  height: 16px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.icon-reviews.icon-right {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 390, ../sass/_mixins.scss */
.icon-disc {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-disc.png?1381446724');
  width: 7px;
  height: 7px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.icon-disc.icon-right {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 32, ../sass/_style.scss */
.icon-to-cart {
  vertical-align: top !important;
}
/* line 390, ../sass/_mixins.scss */
.icon-to-cart {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-to-cart.png?1381452275');
  width: 19px;
  height: 21px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.icon-to-cart.icon-right {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 37, ../sass/_style.scss */
.icon-load-big {
  cursor: pointer;
}
/* line 390, ../sass/_mixins.scss */
.icon-load-big {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-load-big.png?1381453015');
  width: 35px;
  height: 41px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.icon-load-big.icon-right {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 390, ../sass/_mixins.scss */
.icon-plus, .btn-plus:before {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-plus.png?1381744843');
  width: 8px;
  height: 8px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.icon-plus.icon-right, .icon-right.btn-plus:before {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 390, ../sass/_mixins.scss */
.icon-minus, .btn-minus:before {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-minus.png?1381745859');
  width: 8px;
  height: 8px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.icon-minus.icon-right, .icon-right.btn-minus:before {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 390, ../sass/_mixins.scss */
.icon-x, .btn-x:before {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-x.png?1381986073');
  width: 8px;
  height: 8px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.icon-x.icon-right, .icon-right.btn-x:before {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 390, ../sass/_mixins.scss */
.icon-close-modal, div.modal-close {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-close.png?1382105627');
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.icon-close-modal.icon-right, div.icon-right.modal-close {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 58, ../sass/_style.scss */
div.modal-close {
  position: absolute;
  top: 10px;
  right: 0px;
  cursor: pointer;
}

/* line 67, ../sass/_style.scss */
.h-nav li {
  margin-right: 12px;
}

/* line 74, ../sass/_style.scss */
.form-inline fieldset,
.form-inline .controls {
  display: inline-block;
}

/* line 79, ../sass/_style.scss */
.btn-plus {
  padding: 4px;
}
/* line 83, ../sass/_style.scss */
.btn-plus:before {
  content: '';
  display: block;
  margin: 0px;
}

/* line 91, ../sass/_style.scss */
.btn-minus {
  padding: 4px;
}
/* line 95, ../sass/_style.scss */
.btn-minus:before {
  content: '';
  display: block;
  margin: 0px;
}

/* line 103, ../sass/_style.scss */
.btn-x {
  display: inline-block;
  padding: 4px;
}
/* line 108, ../sass/_style.scss */
.btn-x:before {
  content: '';
  display: block;
  margin: 0px;
}

/* line 116, ../sass/_style.scss */
span.price {
  display: inline-block;
}

/* line 120, ../sass/_style.scss */
.input-qnt {
  display: inline-block;
  padding: 0 18px;
  position: relative;
}
/* line 126, ../sass/_style.scss */
.input-qnt .btn-plus,
.input-qnt .btn-minus {
  position: absolute;
  top: 6px;
}
/* line 131, ../sass/_style.scss */
.input-qnt .btn-plus {
  right: 10px;
}
/* line 135, ../sass/_style.scss */
.input-qnt .btn-minus {
  left: 10px;
}
/* line 139, ../sass/_style.scss */
.input-qnt input {
  width: 24px;
  text-align: center;
  font-size: 18px;
}

/* line 146, ../sass/_style.scss */
.h42 {
  line-height: 42px;
}
/* line 149, ../sass/_style.scss */
.h42 .btn-x {
  margin-top: 10px;
}

/* line 154, ../sass/_style.scss */
.dim-text {
  color: #999999;
}

/* line 158, ../sass/_style.scss */
.btn-gray {
  margin-right: 10px;
  color: #666666 !important;
}

/* line 163, ../sass/_style.scss */
ol {
  counter-reset: li;
}
/* line 166, ../sass/_style.scss */
ol li {
  display: block !important;
  margin-bottom: 12px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}
/* line 174, ../sass/_style.scss */
ol li:before {
  content: counter(li) ".";
  counter-increment: li;
  display: inline-block;
  width: 15px;
  margin-left: -15px;
  color: #999999;
  font-weight: regular;
  font-size: 12px;
}

/* line 187, ../sass/_style.scss */
.errorlist {
  color: #c40204;
  font-size: 12px;
  margin-left: 12px;
}

/* line 193, ../sass/_style.scss */
.btn-big-red.disabled {
  opacity: 0.7;
  cursor: default;
}

/* line 198, ../sass/_style.scss */
.caps {
  text-transform: uppercase;
}

/* line 208, ../sass/_style.scss */
html {
  min-height: 100%;
  height: 100%;
  position: relative;
}

/* line 214, ../sass/_style.scss */
body {
  height: 100%;
}

/* line 218, ../sass/_style.scss */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 156px;
}

/* line 226, ../sass/_style.scss */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 234px;
  z-index: 9;
}

/* line 235, ../sass/_style.scss */
.header-bottom {
  height: 66px;
  padding-top: 12px;
  padding-bottom: 18px;
  background: url('../img/header-bottom-bg.png?1381405706');
  background-size: 100% 100%;
}

/* line 243, ../sass/_style.scss */
.wrap {
  position: relative;
  min-height: 100%;
  max-width: 1366px;
  min-width: 1040px;
  margin: 0 auto;
}

/* line 251, ../sass/_style.scss */
.main {
  padding-top: 246px;
  padding-bottom: 168px;
}

/* line 259, ../sass/_style.scss */
body {
  background: #f1f3f4;
}

/* line 266, ../sass/_style.scss */
.header {
  font-weight: bold;
  background: #f1f3f4;
}

/* line 271, ../sass/_style.scss */
.header-top {
  height: 120px;
  padding-top: 36px;
}

/* line 276, ../sass/_style.scss */
.logo-box {
  width: 180px;
  padding-top: 6px;
}

/* line 281, ../sass/_style.scss */
.top-nav {
  width: 330px;
}

/* line 285, ../sass/_style.scss */
.contacts-box {
  width: 160px;
  color: #505050;
  font-size: 14px;
  line-height: 24px;
}
/* line 291, ../sass/_style.scss */
.contacts-box .phone {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #f08302;
}
/* line 295, ../sass/_style.scss */
.contacts-box .phone .code {
  color: #8c502c;
  font-size: 12px;
  line-height: 18px;
}

/* line 302, ../sass/_style.scss */
.cart-box {
  width: 90px;
  margin-left: 30px;
  color: #1f2122;
}
/* line 307, ../sass/_style.scss */
.cart-box .cart-link-box {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 6px;
  position: relative;
}
/* line 312, ../sass/_style.scss */
.cart-box .cart-link-box:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -35px;
}
/* line 390, ../sass/_mixins.scss */
.cart-box .cart-link-box:before {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon-contacts.png?1381324185');
  width: 29px;
  height: 35px;
  margin-right: 10px;
}
/* line 399, ../sass/_mixins.scss */
.cart-box .cart-link-box:before.icon-right {
  margin-right: 0px;
  margin-left: 10px;
}
/* line 321, ../sass/_style.scss */
.cart-box .price {
  color: #f08302;
}

/* line 327, ../sass/_style.scss */
.main-nav li {
  position: relative;
  text-align: center;
}
/* line 331, ../sass/_style.scss */
.main-nav li .img-box {
  position: absolute;
  top: -54px;
  left: 0px;
  width: 100%;
  text-align: center;
}
/* line 339, ../sass/_style.scss */
.main-nav li .link-box {
  display: inline-block;
  margin-top: 10px;
  text-align: left;
  line-height: 20px;
}
/* line 346, ../sass/_style.scss */
.main-nav li a {
  color: #262626;
  font-size: 18px;
  border-color: #ffc400;
  border-width: 2px;
}
/* line 352, ../sass/_style.scss */
.main-nav li a:hover {
  color: #de6c07;
}

/* line 362, ../sass/_style.scss */
.content {
  margin-top: 42px;
  margin-bottom: 54px;
}

/* line 367, ../sass/_style.scss */
.wrap {
  background: url('../img/main-bg.png?1381413656') repeat-y;
  background-size: 100% auto;
}

/* line 372, ../sass/_style.scss */
.slider {
  position: relative;
  height: 252px;
  margin-top: -12px;
  margin-bottom: 18px;
  padding-top: 24px;
  background: url('../img/slider-bg.png?1381424791') repeat-y;
  background-size: 100% auto;
}
/* line 381, ../sass/_style.scss */
.slider:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 18px;
  background: url('../img/slider-bottom-shade.png?1381424718');
  background-size: 100% 18px;
  bottom: -18px;
  left: 0px;
}

/* line 394, ../sass/_style.scss */
.slider-window {
  position: relative;
  width: 800px;
  margin: 0 auto;
}
/* line 400, ../sass/_style.scss */
.slider-window .previous,
.slider-window .next {
  position: absolute;
  top: 87px;
  cursor: pointer;
}
/* line 406, ../sass/_style.scss */
.slider-window .previous {
  background: url('../img/slider-control-left.png?1381427018');
  width: 18px;
  height: 65px;
  left: -40px;
}
/* line 413, ../sass/_style.scss */
.slider-window .next {
  background: url('../img/slider-control-right.png?1381427047');
  width: 18px;
  height: 65px;
  right: -40px;
}

/* line 421, ../sass/_style.scss */
.category-list .product-item {
  margin-bottom: 36px;
  font-weight: bold;
  border-bottom: none;
}

/* line 427, ../sass/_style.scss */
.products-big {
  margin-top: 8px;
}
/* line 430, ../sass/_style.scss */
.products-big .product-item {
  padding-top: 23px;
  padding-bottom: 32px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e7e6e3;
}

/* line 440, ../sass/_style.scss */
.product-item .img-box,
.product-full .img-box {
  width: 160px;
  position: relative;
  float: left;
  margin-right: 20px;
}

/* line 448, ../sass/_style.scss */
.product-item {
  overflow: hidden;
}
/* line 452, ../sass/_style.scss */
.product-item.new .img-box:before, .product-item.on-sale .img-box:after {
  display: block;
  position: absolute;
  right: 5px;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  font-size: 10px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}
/* line 465, ../sass/_style.scss */
.product-item.new .img-box:before {
  content: 'НОВИНКА';
  background: #ffc401;
  top: 5px;
}
/* line 471, ../sass/_style.scss */
.product-item.on-sale .img-box:after {
  content: 'СКИДКА';
  background: #ea6604;
  top: 5px;
  color: #ffffff;
}
/* line 478, ../sass/_style.scss */
.product-item.on-sale.new .img-box:after {
  top: 45px;
}
/* line 482, ../sass/_style.scss */
.product-item .heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
/* line 488, ../sass/_style.scss */
.product-item .price-box {
  margin-top: 18px;
}
/* line 492, ../sass/_style.scss */
.product-item .price {
  font-size: 18px;
  line-height: 24px;
  padding: 0px 10px;
  background: #ffc401;
  font-weight: bold;
}
/* line 500, ../sass/_style.scss */
.product-item .description {
  margin-top: 18px;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
}
/* line 507, ../sass/_style.scss */
.product-item .icon-to-cart {
  cursor: pointer;
}

/* line 512, ../sass/_style.scss */
.product-full {
  margin-top: 18px;
  margin-bottom: 48px;
}
/* line 516, ../sass/_style.scss */
.product-full .product-item {
  margin-bottom: 30px;
}
/* line 520, ../sass/_style.scss */
.product-full .img-box {
  width: 260px;
}
/* line 525, ../sass/_style.scss */
.product-full .image-previews li {
  display: inline-block;
}
/* line 528, ../sass/_style.scss */
.product-full .image-previews li img {
  cursor: pointer;
}
/* line 534, ../sass/_style.scss */
.product-full .price {
  font-size: 24px;
  line-height: 36px;
}
/* line 540, ../sass/_style.scss */
.product-full .description h5 {
  color: #333333;
}
/* line 545, ../sass/_style.scss */
.product-full .property {
  width: 85px;
}
/* line 549, ../sass/_style.scss */
.product-full form {
  display: inline-block;
  margin-bottom: 12px;
  margin-top: 24px;
  background: #f2f3f5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 556, ../sass/_style.scss */
.product-full form button {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 563, ../sass/_style.scss */
.product-full-modal {
  width: 520px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 568, ../sass/_style.scss */
.product-full-modal .price-box {
  margin-top: 0px;
}

/* line 574, ../sass/_style.scss */
.product-full input, .cart-full input {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* line 581, ../sass/_style.scss */
.products-medium .product-item {
  box-sizing: border-box;
  width: 32%;
  padding-right: 40px;
}
/* line 587, ../sass/_style.scss */
.products-medium .img-box {
  float: none;
}

/* line 592, ../sass/_style.scss */
.dash-box, .catalog-nav {
  border: 2px solid #e7e6e3;
  border-style: dashed;
}

/* line 597, ../sass/_style.scss */
.catalog-nav {
  width: 192px;
  margin-top: -26px;
  padding-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 14px;
  line-height: 18px;
}
/* line 609, ../sass/_style.scss */
.catalog-nav > li {
  margin-bottom: 18px;
}
/* line 613, ../sass/_style.scss */
.catalog-nav li > ul {
  display: none;
  margin-top: 18px;
  margin-left: 10px;
}
/* line 618, ../sass/_style.scss */
.catalog-nav li > ul > li {
  margin-bottom: 6px;
}
/* line 621, ../sass/_style.scss */
.catalog-nav li > ul > li a {
  color: #666666;
  border-bottom: none;
}
/* line 625, ../sass/_style.scss */
.catalog-nav li > ul > li a:hover {
  color: #de6c07;
}
/* line 631, ../sass/_style.scss */
.catalog-nav li > ul > li.is-active a {
  color: #333333;
  font-weight: bold;
  border-bottom: 2px solid #ffc401;
  cursor: default;
}
/* line 641, ../sass/_style.scss */
.catalog-nav li.is-expanded > ul {
  display: block;
}

/* line 646, ../sass/_style.scss */
.price-list {
  width: 192px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* line 653, ../sass/_style.scss */
.reviews {
  position: relative;
  width: 192px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff6d9;
  padding-top: 24px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
}
/* line 666, ../sass/_style.scss */
.reviews:after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  bottom: -18px;
  width: 100%;
  height: 18px;
  background: url('../img/reviews-box-bottom-bg.png?1381440087');
}
/* line 677, ../sass/_style.scss */
.reviews h2 {
  margin-bottom: 0px;
}
/* line 681, ../sass/_style.scss */
.reviews .small-text {
  line-height: 12px;
}
/* line 685, ../sass/_style.scss */
.reviews .hr {
  display: inline-block;
  height: 1px;
  width: 160px;
  background: #dbd4bb;
  margin-top: 15px;
  margin-bottom: 26px;
}
/* line 694, ../sass/_style.scss */
.reviews .mini-text {
  font-size: 10px;
  line-height: 12px;
  margin-top: 6px;
}
/* line 699, ../sass/_style.scss */
.reviews .mini-text + .mini-text {
  margin-top: 0px;
}
/* line 704, ../sass/_style.scss */
.reviews .icon-disc {
  margin-top: 12px;
  margin-bottom: 12px;
}
/* line 709, ../sass/_style.scss */
.reviews .reviews-link {
  margin-top: 24px;
}

/* line 714, ../sass/_style.scss */
.right-col-wrap {
  margin-left: 20px;
}

/* line 718, ../sass/_style.scss */
.breadcrumbs {
  font-size: 10px;
  line-height: 36px;
  color: #999999;
}
/* line 723, ../sass/_style.scss */
.breadcrumbs li {
  display: inline-block;
  margin-right: 4px;
}
/* line 728, ../sass/_style.scss */
.breadcrumbs li:after {
  content: '/';
  display: inline-block;
  margin-left: 8px;
}
/* line 734, ../sass/_style.scss */
.breadcrumbs a {
  color: #999999;
  border-color: #999999;
}

/* line 740, ../sass/_style.scss */
.filters {
  margin-top: 24px;
  padding: 0 20px;
  line-height: 30px;
  background: #f2f3f5;
  font-size: 10px;
}
/* line 747, ../sass/_style.scss */
.filters .hint {
  float: right;
  color: #999999;
}
/* line 752, ../sass/_style.scss */
.filters .filter-link {
  margin-left: 15px;
  padding-right: 10px;
}
/* line 756, ../sass/_style.scss */
.filters .filter-link a {
  color: #333333;
  border-color: #333333;
  border-style: dashed;
}
/* line 762, ../sass/_style.scss */
.filters .filter-link.is-active {
  font-weight: bold;
}
/* line 766, ../sass/_style.scss */
.filters .filter-link.is-active.is-ascending:after, .filters .filter-link.is-active.is-descending:after {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 4px;
  font-size: 14px;
}
/* line 773, ../sass/_style.scss */
.filters .filter-link.is-active.is-ascending:after {
  content: '↓';
}
/* line 777, ../sass/_style.scss */
.filters .filter-link.is-active.is-descending:after {
  content: '↑';
}

/* line 784, ../sass/_style.scss */
.more-items-box {
  height: 69px;
  width: 100%;
  background: url('../img/more-box-bg.png?1381456447') repeat-x;
  padding-top: 15px;
}
/* line 790, ../sass/_style.scss */
.more-items-box .more-items {
  margin: 0 auto;
}

/* line 800, ../sass/_style.scss */
.cart-full,
.order-full,
.clients-full,
.contacts-full,
.reviews-full,
.simple-page {
  padding-top: 24px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 36px;
  margin-left: -10px;
  margin-right: -10px;
}

/* line 812, ../sass/_style.scss */
.cart-full .img-box,
.order-full .img-box {
  width: 100px;
}
/* line 816, ../sass/_style.scss */
.cart-full .price,
.order-full .price {
  background: none;
  padding-left: 0px;
}

/* line 822, ../sass/_style.scss */
.product-box {
  padding-top: 10px;
}

/* line 826, ../sass/_style.scss */
.order-summary {
  margin-top: 29px;
}
/* line 829, ../sass/_style.scss */
.order-summary .price {
  padding: 0px 10px;
  background: #ffc401;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-left: 10px;
}
/* line 838, ../sass/_style.scss */
.order-summary .hints {
  margin-top: 18px;
  color: #666666;
}

/* line 844, ../sass/_style.scss */
.cart-full .controls {
  margin-top: 24px;
}

/* line 850, ../sass/_style.scss */
.order-form fieldset,
.review-form fieldset {
  margin-top: 24px;
}
/* line 854, ../sass/_style.scss */
.order-form input, .order-form .input-add,
.review-form input,
.review-form .input-add {
  margin: 0 !important;
}
/* line 858, ../sass/_style.scss */
.order-form .label-box,
.review-form .label-box {
  line-height: 36px;
  font-size: 14px;
}
/* line 862, ../sass/_style.scss */
.order-form .label-box.required,
.review-form .label-box.required {
  font-weight: bold;
}
/* line 867, ../sass/_style.scss */
.order-form .controls,
.review-form .controls {
  margin-top: 12px;
}
/* line 871, ../sass/_style.scss */
.order-form .hint,
.review-form .hint {
  margin-top: 12px;
  font-size: 12px;
}
/* line 875, ../sass/_style.scss */
.order-form .hint ul,
.review-form .hint ul {
  margin-left: 17px;
  list-style-image: url('../img/list-dash.png?1382003144');
}

/* line 882, ../sass/_style.scss */
.order-summary {
  display: inline-block;
  width: 280px;
}
/* line 886, ../sass/_style.scss */
.order-summary h4 {
  margin-bottom: 12px;
}
/* line 890, ../sass/_style.scss */
.order-summary .sum {
  margin-top: 18px;
  font-size: 10px;
}
/* line 895, ../sass/_style.scss */
.order-summary .link {
  margin-top: 18px;
}

/* line 900, ../sass/_style.scss */
.client-item {
  text-align: center;
  margin-top: 36px;
}
/* line 904, ../sass/_style.scss */
.client-item .img-box {
  display: block;
  height: 114px;
  text-align: center;
  border: none;
}
/* line 911, ../sass/_style.scss */
.client-item .link-box {
  padding: 0 20px;
}
/* line 914, ../sass/_style.scss */
.client-item .link-box a {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 14px;
  color: #999999;
  border-bottom: none;
}
/* line 921, ../sass/_style.scss */
.client-item .link-box a:hover {
  color: #009ae0;
  border-bottom: 1px solid #009ae0;
}

/* line 929, ../sass/_style.scss */
.info-list {
  margin-top: 36px;
}
/* line 932, ../sass/_style.scss */
.info-list .info-item {
  width: 220px;
}
/* line 935, ../sass/_style.scss */
.info-list .info-item h6 {
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  margin-bottom: 6px;
}
/* line 942, ../sass/_style.scss */
.info-list .info-item .phone {
  line-height: 24px;
}
/* line 946, ../sass/_style.scss */
.info-list .info-item:last-child {
  margin-right: 60px;
}

/* line 952, ../sass/_style.scss */
.reviews-heading {
  margin-top: 12px;
}

/* line 956, ../sass/_style.scss */
.review-list {
  margin-top: 6px;
}
/* line 959, ../sass/_style.scss */
.review-list .review-item {
  text-align: center;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
  border-bottom: 1px solid #e7e6e3;
  padding-top: 20px;
}
/* line 968, ../sass/_style.scss */
.review-list .review-item h5 {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 974, ../sass/_style.scss */
.review-list .review-item h6 {
  font-size: 10px;
  line-height: 12px;
  color: #999999;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 6px;
}
/* line 983, ../sass/_style.scss */
.review-list .review-item .medium-text {
  margin-top: 18px;
}
/* line 988, ../sass/_style.scss */
.review-list .more-reviews {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* line 995, ../sass/_style.scss */
.review-form {
  width: 520px;
}
/* line 998, ../sass/_style.scss */
.review-form .field-box {
  float: left;
  width: 280px;
  margin-left: 20px;
}
/* line 1004, ../sass/_style.scss */
.review-form .label-box {
  float: left;
  width: 160px;
}
/* line 1009, ../sass/_style.scss */
.review-form .controls {
  margin-left: 180px;
}

/* line 1017, ../sass/_style.scss */
.footer {
  background: #f1f3f4;
}
/* line 1020, ../sass/_style.scss */
.footer .page {
  margin-top: 36px;
}
/* line 1024, ../sass/_style.scss */
.footer:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 12px;
  background: url('../img/footer-top-shade.png?1381422261');
  background-size: 100% auto;
  top: -12px;
  left: 0px;
}

/* line 1037, ../sass/_style.scss */
.bottom-nav {
  width: 430px;
  font-size: 14px;
}

/* line 1042, ../sass/_style.scss */
.october-box {
  width: 220px;
  font-size: 14px;
}
