@import "compass/utilities";
@import "compass/css3";
@import "susy";
@import "mixins";


// стили сетки
.page {
    @include container;
    max-width: $max-width;
    min-width: $min-width;

    &.with-grid-bg {
        @include susy-grid-background;
    }
}

@if $container-style == static {
    @for $cols from 1 through $total-columns {
        .col-#{$cols} {
            @include span-columns($cols);
        }
        .push-#{$cols} {
            @include push($cols);
        }
    }
} @else {
    @for $cols from 1 through $total-columns {
        .col-#{$cols} {
            @include span-columns($cols);

            $total-inner-cols: $total-columns - 1;
            @for $inner-cols from 1 through $total-inner-cols {
                @if $cols >= $inner-cols {
                    & > .col-#{$inner-cols} {
                        @include span-columns($inner-cols, $cols);           
                    }

                    & > .push-#{$inner-cols} {
                        @include push($inner-cols, $cols);             
                    }
                } 
            }
        }
        .push-#{$cols} {
            @include push($cols);
        }
    }
}

.i-container {
    font-size: 0;
}

.i-col {
    float: none;
    display: inline-block;
    vertical-align: top;
    font-size: $font-size-base;
}

.box {
    &:before,
    &:after {
        content:"";
        display:table;
    }

    &:after {
        clear:both;
    }
}

.justify-box {
    text-align: justify;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
        font-size: 0;
        line-height: 0;
    }

    .i-col {
        text-align: left;
    }
}


.omega {
    float: right !important;
    margin-right: 0 !important;
}

.clear {
    clear: both;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}
// /стили сетки


// type styles
html, body {
    @include base-font;
}

body {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    @include heading;
}

h1, .h1 {
    @include h1;
}

h2, .h2 {
    @include h2;
}

h3, .h3 {
    @include h3;
}

h4, .h4 {
    @include h4;
}

p {
    @include p;
}

blockquote {
    @include blockquote($font-color-base);
}

p.blockquote {
    @include blockquote($font-color-base);
}

.small-caps {
    font-variant: small-caps; 
}

.base-text {
    @include base-text;
}

.small-text {
    @include small-text;
}

.medium-text {
    @include medium-text;
}

.big-text {
    @include big-text;
}

small {
    font-size: #{100*$font-scale-small}#{'%'};
    line-height: #{100*$line-height-scale-small}#{'%'};
}

strong, b,
.strong, .b {
    font-weight: bold;
}

i {
    font-style: italic;
}

p.emph-light {
    @include emphasis-outter;
}

p.emph-dark {
    @include emphasis-inner;
}

span.emph-light {
    background: $bg-color-emphasis-light;
}

span.emph-dark {
    background: $bg-color-emphasis-dark;
}

p.code {
    @include emphasis-inner;
    white-space: pre-wrap;
}

p.code {
    font-family: monospace;
}

a, a:visited {
    @include link($link-color-base);
}

a:hover {
    @include link($link-color-hover);
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.center-text {
    text-align: center;
}
// /type

// buttons
.btn-gray {
    @include small-button(white, #1e1e1e);
    @include gradient-button(#9a9a9a, top, #d4d4d4, #b3b3b3, #ececec, #656565, #a9a9a9);
}

.btn-red {
    @include small-button(white, #1e1e1e);
    @include gradient-button(#b52706, top, #f04b1e, #df3209, #f6977d, #7c1901, #ca3b15);
}

.btn-big-gray {
    @include big-button(white);
    @include big-gradient-button(#9a9a9a, top, #d4d4d4, #b3b3b3, #ececec);
}

.btn-big-red {
    @include big-button(white);
    @include big-gradient-button(#b52706, top, #f04b1e, #df3209, #f6977d);
}

.btn-link {
    @include button-like-link;
}

.btn-mini-gray {
    @include mini-button($font-color-mini-button);
    @include gradient-button(#9a9a9a, top, #d4d4d4, #b3b3b3, #ececec, #656565, #a9a9a9);
}

.btn-mini-red {
    @include mini-button($font-color-mini-button);
    @include gradient-button(#b52706, top, #f04b1e, #df3209, #f6977d, #7c1901, #ca3b15);
}

.btn-search {
    @extend .btn-red;
}
// /buttons

// inputs
.field-box {
    & input,
    & textarea {
        width: 100%;
    }

    &.input-with-add {
        .input-add {
            float: left;
        }

        .input-box {
            margin-left: 42px;
        }
    }
}

input[type="text"],
.input {
    @include text-input-base;
}

textarea,
.textarea {
    @include text-input-base;
    resize:none;

    &.resizable {
        resize:both;
    }
}

fieldset.is-with-error input[type="text"], .field-box.is-with-error input[type="text"], input[type="text"].is-with-error,
fieldset.is-with-error .input, .field-box.is-with-error .input, .input.is-with-error,
fieldset.is-with-error textarea, .field-box.is-with-error textarea, textarea.is-with-error,
fieldset.is-with-error .textarea, .field-box.is-with-error .textarea, .textarea.is-with-error, 
{
    @include input-error;
}

.input-search {
    position: relative;
}

.error-mark {
    display: inline-block;
    @include icon-error;
    margin: 15px;
}

.success-mark {
    display: inline-block;
    @include icon-success;
    margin: 15px;
}

.icon-search {
    @include icon-search;
}

.field-box.input-with-add {
    .input-add {
        @include text-input-add;
    }

    input[type="text"], 
    .input {
        border-left: none;
        @include border-corner-radius(top, left, 0px);
        @include border-corner-radius(bottom, left, 0px);
    }
}

.is-with-error .input-add {
    @include input-add-error;
}

.field-box.input-search {
    input[type="text"], 
    .input {
        padding-right: 18px !important;
    }

    .btn-search {
        margin-left: -12px;
    }
}
// /inputs

// nav
.nav {
    li.is-active a, 
    li.is-active a:hover {
        color: $font-color-base;
        border-bottom: none;
        cursor: default;
    }
}

.v-nav {
    @extend .nav;
}

.h-nav {
    li {
        display: inline-block;
    }

    @extend .nav;
}
// /nav

// img
.box-link {
    @include box-link;
}
// /img

// helpers
.is-hidden {
    display: none;
}
// /helpers
