// font-faces
@font-face {font-family: 'PT Sans'; 
    src: url('../fonts/pts55f_w.eot'); 
    src: local('PT Sans'), url('../fonts/PTS55F_W.woff') format('woff'),url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans'; 
    font-style: italic;
    src: url('pts56f_w.eot'); 
    src: local('PT Sans Italic'), url('../fonts/PTS56F_W.woff') format('woff'),url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}

@font-face {font-family: 'PT Sans';
    src: url('pts75f_w.eot');
    font-style: normal;
    font-weight: bold; 
    src: local('PT Sans Bold'), url('../fonts/PTS75F_W.woff') format('woff'),url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}

@font-face {font-family: 'PT Sans';
    font-style: italic;
    font-weight: bold; 
    src: url('pts76f_w.eot'); 
    src: local('../fonts/PT Sans Bold Italic'), url('../fonts/PTS76F_W.woff') format('woff'),url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');}

@font-face {font-family: 'PT Sans Caption'; 
    src: url('ptc55f_w.eot');
    src: local('PT Sans Caption'), url('../fonts/PTC55F_W.woff') format('woff'),url('../fonts/PTC55F_W.ttf') format('truetype'), url('../fonts/PTC55F_W.svg#PTSans-Caption') format('svg');}

@font-face {font-family: 'PT Sans Caption';
    font-weight: bold; 
    src: url('ptc75f_w.eot');
    src: local('PT Sans Caption Bold'), url('../fonts/PTC75F_W.woff') format('woff'),url('../fonts/TC75F_W.ttf') format('truetype'), url('../fonts/PTC75F_W.svg#PTSans-CaptionBold') format('svg');}

@font-face {font-family: 'PT Sans Narrow';
    src: url('ptn57f_w.eot');
    src: local('PT Sans Narrow'), url('../fonts/PTN57F_W.woff') format('woff'),url('../fonts/PTN57F_W.ttf') format('truetype'), url('../fonts/PTN57F_W.svg#PTSans-Narrow') format('svg');}

@font-face {font-family: 'PT Sans Narrow';
    font-weight: bold; 
    src: url('ptn77f_w.eot');
    src: local('PT Sans Narrow Bold'), url('../fonts/PTN77F_W.woff') format('woff'),url('../fonts/PTN77F_W.ttf') format('truetype'), url('../fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg');}
// /font-faces


// базовые миксины и переменные
$border-radius-base: 5px;
$border-radius-small: 3px;
$box-shadow-base: rgba(#3d3e3e, 0.5);

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

.cell-line {
    display: table;

    & > * {
        display: table-cell;
        float: none !important;
        vertical-align: middle;
    }
}

@mixin block-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
// /базовые миксины и переменные


// настройки сетки
$total-columns  : 15; // количество колонок
$column-width   : 40px; // ширина колонки
$gutter-width   : 20px; // ширина промежутка между колонками
$grid-padding   : 80px; // отступ всей плоскости страницы справа и слева
$container-style: fluid; // fluid - тянущаяся сетка; static - фиксированная
$min-width: 880px;
$max-width: 1206px;
$max-width-total: $max-width + ($grid-padding*2);
$min-width-total: $min-width + ($grid-padding*2);

$y-atom: 6px; // шаг вертикальной сетки
// /настройки сетки


// type vars
$font-color-base: #000000;
$font-size-base: 16px;
$line-height-base: 24px;
$font-family-base: 'PT Sans';

$font-scale-small: 0.75;
$line-height-scale-small: 0.75;

$font-size-small: 12px;
$line-height-small: 18px;

$font-size-medium: 14px;
$line-height-medium: 18px;

$font-size-big: 24px;
$line-height-big: 30px;

$font-color-base: #000000;
$font-color-mini-button: #2a2a2a;
$bg-color-emphasis-light: #66cccc;
$bg-color-emphasis-dark: #237070;

$base-vertical-margin: 2*$y-atom;

$link-color-base: #019add;
$link-color-hover: #de6c07; 
// /type vars


// type mixins 
@mixin base-font {
    font: normal #{$font-size-base}/#{$line-height-base} $font-family-base;
}

@mixin heading {
    margin-bottom: $y-atom*2;
    font-weight: bold;
    letter-spacing: 0.1em;

    * + & {
        margin-top: $y-atom*2;
    }

    &.tight {
        letter-spacing: 0;
    }
}

@mixin h1 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

@mixin h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
}

@mixin h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}

@mixin h4 {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}

@mixin p {
    @include base-font;
    margin-bottom: $y-atom*2;
}

@mixin base-text {
    font-size: $font-size-base;
    line-height: $line-height-base;
}

@mixin small-text {
    font-size: $font-size-small;
    line-height: $line-height-small;
}

@mixin medium-text {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
}

@mixin big-text {
    font-size: $font-size-big;
    line-height: $line-height-big;
}

@mixin blockquote($color) {
    @include big-text;
    color: $color;
    box-sizing: border-box;
    padding-left: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-left: 2px solid rgba($color, 0.5);
}

@mixin emphasis-inner {
    background: $bg-color-emphasis-dark;
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}

@mixin emphasis-outter {
    background: $bg-color-emphasis-light;
    @include bleed(12px, left right);
    padding-top: 6px;
    padding-bottom: 6px;
}

@mixin link($link-color) {
    text-decoration: none;
    color: $link-color;
    border-bottom: 1px solid rgba($link-color, 0.5);
}
// /type-mixins


// buttons mixins
@mixin button-base($font-size, $line-height, $v-pad, $h-pad, $v-margin, $border-width) {
    display: inline-block;
    box-sizing: border-box;
    padding: $v-pad $h-pad;
    margin: $v-margin 0px;
    font-size: $font-size;
    font-weight: bold;
    font-family: $font-family-base;
    line-height: $line-height;
    border: $border-width solid;
    text-align: center;
    vertical-align: top;
    cursor: pointer; 
    text-decoration: none; 
    outline:none;
}

@mixin button-like-link {
    @include link($link-color-base);
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 1.3em;
    font-size: inherit;
    font-family: inherit;
    background: none;
    cursor: pointer;
    display: inline !important;
    padding: 0px;
    height: auto;

    &:hover {
        @include link($link-color-hover);
    }
} 

@mixin gradient-button($border-color, $direction, $start, $end, $top-shadow, $right-shadow, $bottom-shadow) {
    & {
        background: $end; // for ie9
        @include background-image(linear-gradient($direction, $start, $end));
        @include box-shadow($box-shadow-base 0px 5px 5px -2px, $top-shadow 0px 1px 0px 0px inset, $right-shadow 0px -1px 0px 0px inset, $bottom-shadow -1px 0px 0px 0px inset);
        border-color: $border-color !important;
    }

    &:hover {
        background:  lighten($end, 5%); // for ie9
        @include background-image(linear-gradient($direction, lighten($start, 5%), lighten($end, 5%)));
        @include box-shadow($box-shadow-base 0px 5px 5px -2px, lighten($top-shadow, 5%) 0px 1px 0px 0px inset, lighten($right-shadow, 5%) 0px -1px 0px 0px inset, lighten($bottom-shadow, 5%) -1px 0px 0px 0px inset);
        border-color: lighten($border-color, 5%) !important;
    }

    &:active {
        background: $start; // for ie9
        @include background-image(linear-gradient($direction, $end, $start));
    }
}

@mixin big-gradient-button($border-color, $direction, $start, $end, $top-shadow) {
    & {
        background: $end; // for ie9
        @include background-image(linear-gradient($direction, $start, $end));
        @include box-shadow($box-shadow-base 0px 5px 5px -2px, $top-shadow 0px 1px 0px 0px inset);
        border-color: $border-color !important;
    }

    &:hover {
        background:  lighten($end, 5%); // for ie9
        @include background-image(linear-gradient($direction, lighten($start, 5%), lighten($end, 5%)));
        @include box-shadow($box-shadow-base 0px 5px 5px -2px, lighten($top-shadow, 5%) 0px 1px 0px 0px inset);
        border-color: lighten($border-color, 5%) !important;
    }

    &:active {
        background: $start; // for ie9
        @include background-image(linear-gradient($direction, $end, $start));
    }
}

@mixin small-button($text-color, $text-shadow-color) {
    @include button-base($font-size-base, $line-height-base, 5px, 12px, 6px, 1px);
    @include border-radius($border-radius-base);
    color: $text-color !important;
}

@mixin big-button($text-color) {
    @include button-base($font-size-big, $line-height-big, 5px, 12px, 6px, 1px);
    @include border-radius($border-radius-base);
    color: $text-color !important;
}

@mixin mini-button($text-color) {
    @include button-base(12px, 18px, 2px, 7px, 6px, 1px);
    @include border-radius($border-radius-base);
    color: $text-color !important;
}
// /buttons mixins


// inputs vars
$input-border-color-base: #a8a8a8;
$input-border-color-error: #c40204;
$input-border-color-alert: #f1b752;

$input-v-pad-base: 5px;
$input-h-pad-base: 12px;
$input-v-pad-error: 4px;
$input-h-pad-error: 11px;
// /inputs vars 


// inputs mixins 
@mixin text-input-base {
    margin: 6px 0px;
    outline: none;
    border: 1px solid $input-border-color-base;
    @include border-radius($border-radius-base);
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-family: $font-family-base;
    padding: $input-v-pad-base $input-h-pad-base;
    vertical-align: top;

    @include input-placeholder {
        color: #8d8d8d;
    }
}

@mixin text-input-add {
    display: inline-block;
    margin: 6px -4px 6px 0px;
    background: #ededed;
    outline: none;
    border-top: 1px solid $input-border-color-base;
    border-bottom: 1px solid $input-border-color-base;
    border-left: 1px solid $input-border-color-base;
    @include border-corner-radius(top, left, $border-radius-base);
    @include border-corner-radius(bottom, left, $border-radius-base);
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-family: $font-family-base;
    font-weight: bold;
    padding: $input-v-pad-base $input-h-pad-base;
    vertical-align: top;
}

@mixin input-error {
    border-width: 2px !important;
    padding: $input-v-pad-error $input-h-pad-error !important;
    border-color: $input-border-color-error !important;
}

@mixin input-add-error {
    border-width: 2px !important;
    padding: $input-v-pad-error $input-h-pad-base !important;
    border-color: $input-border-color-error !important;
}

@mixin input-alert {
    border-width: 2px !important;
    padding: $input-v-pad-error $input-h-pad-error !important;
    border-color: $input-border-color-alert !important;
}
// /inputs mixins

// icons mixins 
$icon-margin-right-base: 10px;

@mixin icon-base($image) {
    & {
        display: inline-block;
        vertical-align: middle;
        background: image-url($image);
        width: image-width($image);
        height: image-height($image);
        margin-right: $icon-margin-right-base;
    }

    &.icon-right {
        margin-right: 0px;
        margin-left: $icon-margin-right-base;
    }
}

@mixin icon-error {
    @include icon-base('icon-error.png');
}

@mixin icon-success {
    @include icon-base('icon-success.png');
}

@mixin icon-search {
    @include icon-base('icon-search.png');
}
// /icons mixins


// img mixins
@mixin box-link {
    &, &:hover {
        display: inline-block;
        text-decoration: none;
        border-bottom: none;
    }
}
// /img-mixins