@import "susy";
@import "mixins";


// additional fonts
// open-sans
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,600&subset=latin,cyrillic);
// /additional fonts


// additional components
.icon-contacts {
    @include icon-base('icon-contacts.png');
}

.icon-catalog {
    @include icon-base('icon-catalog.png');
}

.icon-save-big {
    @include icon-base('icon-save-big.png');
}

.icon-reviews {
    @include icon-base('icon-reviews.png');
}

.icon-disc {
    @include icon-base('icon-disc.png');
}

.icon-to-cart {
    @include icon-base('icon-to-cart.png');
    vertical-align: top !important;
}

.icon-load-big {
    @include icon-base('icon-load-big.png');
    cursor: pointer;
}

.icon-plus {
    @include icon-base('icon-plus.png');
}

.icon-minus {
    @include icon-base('icon-minus.png');
}

.icon-x {
    @include icon-base('icon-x.png');
}

.icon-close-modal {
    @include icon-base('icon-close.png');
}

div.modal-close {
    @extend .icon-close-modal;
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
}

.h-nav {
    li {
        margin-right: 12px;
    }
}

.form-inline {
    fieldset, 
    .controls {
        display: inline-block;
    }
}

.btn-plus {
    @extend .btn-mini-red;
    padding: 4px;

    &:before {
        content: '';
        display: block;
        @extend .icon-plus;
        margin: 0px;
    }
}

.btn-minus {
    @extend .btn-mini-gray;
    padding: 4px;

    &:before {
        content: '';
        display: block;
        @extend .icon-minus;
        margin: 0px;
    }
} 

.btn-x {
    @extend .btn-mini-red;
    display: inline-block;
    padding: 4px;

    &:before {
        content: '';
        display: block;
        @extend .icon-x;
        margin: 0px;
    }
}

span.price {
    display: inline-block;
}

.input-qnt {
    display: inline-block;
    padding: 0 18px;
    position: relative;

    .btn-plus,
    .btn-minus {
        position: absolute;
        top: 6px;
    }

    .btn-plus {
        right: 10px;
    }

    .btn-minus {
        left: 10px;
    }

    input {
        width: 24px;
        text-align: center;
        font-size: 18px;
    }
}

.h42 {
    line-height: 42px;

    .btn-x {
        margin-top: 10px;
    }
}

.dim-text {
    color: #999999;
}

.btn-gray {
    margin-right: 10px;
    color: #666666 !important;
}

ol {
    counter-reset: li;

    li {
        display: block !important;
        margin-bottom: 12px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 18px;
        text-align: left;

        &:before {
            content: counter(li) '.';
            counter-increment: li;
            display: inline-block;
            width: 15px;
            margin-left: -15px;
            color: #999999;
            font-weight: regular;
            font-size: 12px;
        }
    }
}

.errorlist {
    color: #c40204;
    font-size: 12px;
    margin-left: 12px;
}

.btn-big-red.disabled {
    opacity: 0.7;
    cursor: default;
}

.caps {
    text-transform: uppercase;
}
// /additional components


// layout base: footer and header
$header-height: 234px;
$footer-height: 156px;

html {
    min-height: 100%;
    height: 100%;
    position: relative;
}

body {
    height: 100%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $footer-height;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $header-height;
    z-index: 9;
}

.header-bottom {
    height: 66px;
    padding-top: 12px;
    padding-bottom: 18px;
    background: image-url('header-bottom-bg.png');
    background-size: 100% 100%;
}

.wrap {
    position: relative;
    min-height: 100%;
    max-width: $max-width-total;
    min-width: $min-width-total;
    margin: 0 auto;
}

.main {
    padding-top: 246px;
    padding-bottom: 168px;
}
// /layout base: footer and header


// base styles 
body {
    background: #f1f3f4;
}
// /base styles 


// header styles
.header {
    font-weight: bold;
    background: #f1f3f4;
}

.header-top {
    height: 120px;
    padding-top: 36px;
}

.logo-box {
    width: 180px;
    padding-top: 6px;
}

.top-nav {
    width: 330px;
}

.contacts-box {
    width: 160px;
    color: #505050;
    font-size: 14px;
    line-height: 24px;

    .phone {
        @include h3;
        color: #f08302;
        
        .code {
            color: #8c502c;
            @include small-text;
        }
    }
}

.cart-box {
    width: 90px;
    margin-left: 30px;
    color: #1f2122;

    .cart-link-box {
        @include h4;
        margin-bottom: 6px;
        position: relative;
    
        &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: -35px;
            @include icon-base('icon-contacts.png');
        }
    }

    .price {
        color: #f08302;
    }
}

.main-nav {
    li {
        position: relative;
        text-align: center;
    
        .img-box {
            position: absolute;
            top: -54px;
            left: 0px;
            width: 100%;
            text-align: center;
        }

        .link-box {
            display: inline-block;
            margin-top: 10px;
            text-align: left;
            line-height: 20px;
        }

        a {
            color: #262626;
            font-size: 18px;
            border-color: #ffc400;
            border-width: 2px;

            &:hover {
                color: $link-color-hover;
            }
        }
    }
}
// /header styles


// main section styles
.content {
    margin-top: 42px;
    margin-bottom: 54px;
}

.wrap {
    background: image-url('main-bg.png') repeat-y;
    background-size: 100% auto;
}

.slider {
    position: relative;
    height: 252px;
    margin-top: -12px;
    margin-bottom: 18px;
    padding-top: 24px;
    background: image-url('slider-bg.png') repeat-y;
    background-size: 100% auto;

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 18px;
        background: image-url('slider-bottom-shade.png');
        background-size: 100% 18px;
        bottom: -18px;
        left: 0px;
    }
}

.slider-window {
    position: relative;
    width: 800px;
    margin: 0 auto;

    .previous,
    .next {
        position: absolute;
        top: 87px;
        cursor: pointer;
    }

    .previous {
        background: image-url('slider-control-left.png');
        width: image-width('slider-control-left.png');
        height: image-height('slider-control-left.png');
        left: -40px;
    }

    .next {
        background: image-url('slider-control-right.png');
        width: image-width('slider-control-right.png');
        height: image-height('slider-control-right.png');
        right: -40px;
    }
}

.category-list .product-item {
    margin-bottom: 36px;
    font-weight: bold;
    border-bottom: none;
}

.products-big {
    margin-top: 8px;

    .product-item {
        padding-top: 23px;
        padding-bottom: 32px;
        margin-bottom: 0px;
        border-bottom: 1px solid #e7e6e3;
    }
}

.product-item, 
.product-full {
    .img-box {
        width: 160px;
        position: relative;
        float: left;
        margin-right: 20px;
    }
}

.product-item {
    overflow: hidden;

    &.new .img-box:before,
    &.on-sale .img-box:after {
        display: block;
        position: absolute;
        right: 5px;
        height: 50px;
        width: 50px;
        @include border-radius(25px);
        font-size: 10px;
        line-height: 50px;
        text-align: center;
        font-weight: bold;
    }

    &.new .img-box:before {
        content: 'НОВИНКА';
        background: #ffc401;
        top: 5px;
    }

    &.on-sale .img-box:after {
        content: 'СКИДКА';
        background: #ea6604;
        top: 5px;
        color: #ffffff;
    }

    &.on-sale.new .img-box:after {
        top: 45px;
    }

    .heading {
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
    }

    .price-box {
        margin-top: 18px;
    }

    .price {
        font-size: 18px;
        line-height: 24px;
        padding: 0px 10px;
        background: #ffc401;
        font-weight: bold;
    }

    .description {
        margin-top: 18px;
        font-size: 12px;
        line-height: 18px;
        color: #666666;
    }

    .icon-to-cart {
        cursor: pointer;
    }
}

.product-full {
    margin-top: 18px;
    margin-bottom: 48px;

    .product-item {
        margin-bottom: 30px;
    }

    .img-box {
        width: 260px;
    }

    .image-previews {
        li {
            display: inline-block;

            img {
                cursor: pointer;
            }
        }
    }

    .price {
        font-size: 24px;
        line-height: 36px;
    }

    .description {
        h5 {
            color: #333333;
        }
    }

    .property {
        width: 85px;
    }

    form {
        display: inline-block;
        margin-bottom: 12px;
        margin-top: 24px;
        background: #f2f3f5;
        @include border-radius(5px);

        button {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

.product-full-modal {
    width: 520px;
    margin-top: 0px;
    margin-bottom: 0px;

    .price-box {
        margin-top: 0px;
    }
}

.product-full, .cart-full {
    input {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

.products-medium {
    .product-item {
        box-sizing: border-box;
        width: 32%;
        padding-right: 40px;
    }

    .img-box {
        float: none;
    }
}

.dash-box {
    border: 2px solid #e7e6e3;
    border-style: dashed;
}

.catalog-nav {
    width: 192px;
    margin-top: -26px;
    padding-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
    @include medium-text;
    @extend .dash-box;

    & > li {
        margin-bottom: 18px;
    }

    li > ul {
        display: none;
        margin-top: 18px;
        margin-left: 10px;

        & > li {
            margin-bottom: 6px;

            a {
                color: #666666;
                border-bottom: none;

                &:hover {
                    color: $link-color-hover;
                }
            }

            &.is-active {
                a {
                    color: #333333;
                    font-weight: bold;
                    border-bottom: 2px solid #ffc401;
                    cursor: default;
                }
            }
        }
    }

    li.is-expanded > ul {
        display: block;
    }
}

.price-list {
    width: 192px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

.reviews {
    position: relative;
    width: 192px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff6d9;
    padding-top: 24px;
    padding-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        bottom: -18px;
        width: 100%;
        height: 18px;
        background: image-url('reviews-box-bottom-bg.png');
    }

    h2 {
        margin-bottom: 0px;
    }

    .small-text {
        line-height: 12px;
    }

    .hr {
        display: inline-block;
        height: 1px;
        width: 160px;
        background: #dbd4bb;
        margin-top: 15px;
        margin-bottom: 26px;
    }

    .mini-text {
        font-size: 10px;
        line-height: 12px;
        margin-top: 6px;

        & + .mini-text {
            margin-top: 0px;
        }
    }

    .icon-disc {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    
    .reviews-link {
        margin-top: 24px;
    }
}

.right-col-wrap {
    margin-left: 20px;
}

.breadcrumbs {
    font-size: 10px;
    line-height: 36px;
    color: #999999;

    li {
        display: inline-block;
        margin-right: 4px;
    }

    li:after {
        content: '/';
        display: inline-block;
        margin-left: 8px;
    }

    a {
        color: #999999;
        border-color: #999999;
    }
}

.filters {
    margin-top: 24px;
    padding: 0 20px;
    line-height: 30px;
    background: #f2f3f5;
    font-size: 10px;

    .hint {
        float: right;
        color: #999999;
    }

    .filter-link {
        margin-left: 15px;
        padding-right: 10px;

        a {
            color: #333333;
            border-color: #333333;
            border-style: dashed;
        }

        &.is-active {
            font-weight: bold;

            &.is-ascending:after,
            &.is-descending:after {
                display: inline-block;
                vertical-align: bottom;
                margin-left: 4px;
                font-size: 14px;
            }

            &.is-ascending:after {
                content: '↓';
            }

            &.is-descending:after {
                content: '↑';
            }
        }
    }
}

.more-items-box {
    height: image-height('more-box-bg.png');
    width: 100%;
    background: image-url('more-box-bg.png') repeat-x;
    padding-top: 15px;

    .more-items {
        margin: 0 auto;
    }
}

.cart-full, 
.order-full,
.clients-full,
.contacts-full,
.reviews-full,
.simple-page {
    padding-top: 24px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 36px;

    margin-left: -10px;
    margin-right: -10px;
}

.cart-full, 
.order-full {
    .img-box {
        width: 100px;
    }

    .price {
        background: none;
        padding-left: 0px;
    }
} 

.product-box {
    padding-top: 10px;
}

.order-summary {
    margin-top: 29px;

    .price {
        padding: 0px 10px;
        background: #ffc401;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        margin-left: 10px;
    }

    .hints {
        margin-top: 18px;
        color: #666666;
    }
}

.cart-full .controls {
    margin-top: 24px;
}

.order-form,
.review-form {
    fieldset {
        margin-top: 24px;
    }

    input, .input-add {
        margin: 0 !important;
    }

    .label-box {
        line-height: 36px;
        font-size: 14px;

        &.required {
            font-weight: bold;
        }
    }

    .controls {
        margin-top: 12px;
    }

    .hint {
        margin-top: 12px;
        font-size: 12px;

        ul {
            margin-left: 17px;
            list-style-image: image-url('list-dash.png');
        }
    }
}

.order-summary {
    display: inline-block;
    width: 280px;

    h4 {
        margin-bottom: 12px;
    }

    .sum {
        margin-top: 18px;
        font-size: 10px;
    }

    .link {
        margin-top: 18px;
    }
}

.client-item {
    text-align: center;
    margin-top: 36px;

    .img-box {
        display: block;
        height: 114px;
        text-align: center;
        border: none;
    }

    .link-box {
        padding: 0 20px;

        a {
            font-size: 10px;
            text-transform: uppercase;
            line-height: 14px;
            color: #999999;
            border-bottom: none;

            &:hover {
                color: #009ae0;
                border-bottom: 1px solid #009ae0;
            }
        }
    }
}

.info-list {
    margin-top: 36px;

    .info-item {
        width: 220px;

        h6 {
            font-size: 10px;
            color: #999999;
            text-transform: uppercase;
            margin-bottom: 6px;
        }

        .phone {
            line-height: 24px;
        }

        &:last-child {
            margin-right: 60px;
        }
    }
}

.reviews-heading {
    margin-top: 12px;
}

.review-list {
    margin-top: 6px;

    .review-item {
        text-align: center;
        width: 640px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 35px;
        border-bottom: 1px solid #e7e6e3;
        padding-top: 20px;

        h5 {
            font-size: 14px;
            line-height: 24px;
            text-transform: uppercase;
        }

        h6 {
            font-size: 10px;
            line-height: 12px;
            color: #999999;
            text-transform: uppercase;
            margin-bottom: 6px;
            margin-top: 6px;
        }

        .medium-text {
            margin-top: 18px;
        }
    }

    .more-reviews {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.review-form {
    width: 520px;

    .field-box {
        float: left;
        width: 280px;
        margin-left: 20px;
    }

    .label-box {
        float: left;
        width: 160px;
    }

    .controls {
        margin-left: 180px;
    }
}
// /main section styles


// footer styles 
.footer {
    background: #f1f3f4;

    .page {
        margin-top: 36px;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 12px;
        background: image-url('footer-top-shade.png');
        background-size: 100% auto;
        top: -12px;
        left: 0px;
    }
}

.bottom-nav {
    width: 430px;
    font-size: 14px;
}

.october-box {
    width: 220px;
    font-size: 14px;
}
// /footer-styles